<!--==============  We @ Accenture  ============== -->

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
              <div class="card">
				  
					  <div class="card-header card-header-danger customIconBg">
					  <div class="dealPerfrom">
					  <h3 class="card-title EmpHeadColor" >We@A Metrics - Accenture Interactive Operations </h3></div>
						<!-- <div class="user-area dropdown float-right">			
  			<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
			 <label class="btn btn-success" for="customFileLang">Bulk Upload</label>				
			</div> -->
			    </div>

<div class="table-responsive text-nowrap card-body custopfrom">
<!--Table-->

<table width="100%" border="1" class="table table-striped table-bordered table-hover table-condensed WeatIdeas" cellspacing="2" cellpadding="0">
  <!--Table head-->
  <thead>
	<tr>
		<th colspan="9"><h3 class="WeatIdeasHeading">OG wise Data</h3></th>
		</tr>
	<tr>
		<th>OG</th>
		<th>HC</th>
		<th> No. of Ideas Submitted</th>
		<th>Red Flagged Ideas</th>
		<th>Idea Per Person (Prorated)Target 1.5</th>
		<th>Implementation Rate (Rolling 6 Months) Target 30%</th>				
		<th>On Time Implementation Rate Target 80% </th>
		<th>Validation Rate Target 85% </th>
		<th>No. of Months</th>

	</tr>	  
  </thead>
  <!--Table head-->

  <!--Table body -->
  <tbody>
<tr>
<td scope="row">Accenture Interactive Operations</td>
<td>1270</td>
<td>84</td>
<td class="redFlagged">65</td>
<td class="redFlagged">0.18</td>
<td class="greenFlagged">64%</td>
<td class="greenFlagged">84%</td>
<td class="greenFlagged">85%</td>
<td>1</td>	
</tr> 


  </tbody>  



</table>
<!--Table-->
</div>
				  
				  
<div class="table-responsive text-nowrap card-body custopfrom">
<!--Table-->

<table width="100%" border="1" class="table table-striped table-bordered table-hover table-condensed WeatIdeas" cellspacing="2" cellpadding="0">
  <!--Table head-->
  <thead>
	<tr>
		<th colspan="9"><h3 class="WeatIdeasHeading">Location wise Data</h3></th>
		</tr>
	<tr>
		<th>Location</th>
		<th>HC</th>
		<th>No. of Ideas Submitted</th>
		<th>Red Flagged Ideas</th>
		<th>Idea Per Person (Prorated)Target 1.5</th>
		<th>Implementation Rate (Rolling 6 Months) Target 30%</th>				
		<th>On Time Implementation Rate Target 80% </th>
		<th>Validation Rate Target 85% </th>
		<th>No. of Months</th>

	</tr>	  
  </thead>
  <!--Table head-->

  <!--Table body -->
  <tbody>
<tr>
<td scope="row">Chennai</td>
<td>128</td>
<td>1</td>
<td class="redFlagged">4</td>
<td>-0.28</td>
<td class="greenFlagged">76%</td>
<td class="greenFlagged">100%</td>
<td class="redFlagged">33%</td>
<td>10</td>	
</tr>
<tr>
  <td scope="row">Mumbai</td>
  <td>1142</td>
  <td>83</td>
  <td class="redFlagged">61</td>
  <td class="redFlagged">0.23</td>
  <td class="greenFlagged">61%</td>
  <td class="greenFlagged">83%</td>
  <td class="greenFlagged">87%</td>
  <td>&nbsp;</td>
</tr> 


  </tbody>  



</table>
<!--Table-->
</div>				  
		   </div>		 
		  </div>          
      </div>
  </div>
</div>



<!--==============  Employee confirguration Page     ============== -->

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
              <div class="card">
				  
					  <div class="card-header card-header-danger customIconBg">
					  <div class="dealPerfrom">
					  <h3 class="card-title EmpHeadColor" >Contractual confirguration </h3></div>
						  <div class="user-area dropdown float-right">			
  			<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
			 <label class="btn btn-success" for="customFileLang">Bulk Upload</label>				
			</div>
					 </div>

<div class="card-body custopfrom">
 <div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Master Contract No."></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="OG *"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Region"></mat-form-field></div>
<div class="col-md-3"><mat-form-field>
	 <mat-select placeholder="Contract / Billing type">
<mat-option value="">Transactional</mat-option>
<mat-option value="">Fixed</mat-option>
<mat-option value="">FTE</mat-option>
<mat-option value="">Cost Plus</mat-option>
<mat-option value="">Managed Services</mat-option>
<mat-option value="">Outcome Based</mat-option>
<mat-option value="">Staff Augmentation</mat-option>
<mat-option value="">Transaction Based</mat-option>
<mat-option value="">Volume Based</mat-option>
    </mat-select>	</mat-form-field>
	 </div>
</div>
<div class="row">
<div class="col-md-3"><mat-form-field>
	 <mat-select placeholder="Capability">
<mat-option value="">Accelerated RD for Pharmaceuticals</mat-option>
<mat-option value="">Credit Services</mat-option>
<mat-option value="">Customer Service</mat-option>
<mat-option value="">Emerging  Cross Industry</mat-option>
<mat-option value="">Emerging  Industry Specific</mat-option>
<mat-option value="">Finance and Accounting</mat-option>
<mat-option value="">Health Administration</mat-option>
<mat-option value="">HR Services</mat-option>
<mat-option value="">Human Resources</mat-option>
<mat-option value="">Insurance</mat-option>
<mat-option value="">Intelligent Shared Services (ISS)</mat-option>
<mat-option value="">Marketing</mat-option>
<mat-option value="">Marketing & Media Management</mat-option>
<mat-option value="">etwork Services BPO</mat-option>
<mat-option value="">Sales and Customer Services</mat-option>
<mat-option value="">Sales Operations</mat-option>
<mat-option value="">SDTEM</mat-option>
<mat-option value="">Sourcing and Procurement</mat-option>
<mat-option value="">Supply Chain</mat-option>
<mat-option value="">Talent Learning</mat-option>
<mat-option value="">Utilities</mat-option>
    </mat-select>	
	</mat-form-field>
	 </div>
<div class="col-md-3">
	<mat-form-field>
<mat-select placeholder="Entity">
 <mat-option value="">Communication, Media and Technology</mat-option>
 <mat-option value="">Digital Marketing</mat-option>
 <mat-option value="">Financial Services</mat-option>
 <mat-option value="">Health</mat-option>
 <mat-option value="">India Domestic Account</mat-option>
 <mat-option value="">Intelligent Shared Services</mat-option>
 <mat-option value="">Learning</mat-option>
 <mat-option value="">Pharma</mat-option>
 <mat-option value="">Products</mat-option>
 <mat-option value="">Resources</mat-option>
 <mat-option value="">Service Desk</mat-option>
 <mat-option value="">Shared Services (BSS)</mat-option>
 <mat-option value="">Software and Platform – Google</mat-option>
 <mat-option value="">Software and Platform – Others</mat-option>
 <mat-option value="">Supply Chain, Network and Procurement</mat-option>

    </mat-select></mat-form-field>	
	</div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Tower"></mat-form-field></div>
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Reporting Area ">
<mat-option value="">SAT</mat-option>
<mat-option value="">APTP</mat-option>
<mat-option value="">Argentina</mat-option>
<mat-option value="">Argentina-ACN</mat-option>
<mat-option value="">ASG</mat-option>
<mat-option value="">Bangalore</mat-option>
<mat-option value="">Bangalore-ACN</mat-option>
<mat-option value="">Brazil</mat-option>
<mat-option value="">Brazil-ACN</mat-option>
<mat-option value="">Canada</mat-option>
<mat-option value="">Chennai</mat-option>
<mat-option value="">China</mat-option>
<mat-option value="">China-ACN</mat-option>
<mat-option value="">Costa-Rica</mat-option>
<mat-option value="">Danubia</mat-option>
<mat-option value="">Danubia-ACN</mat-option>
<mat-option value="">Delhi</mat-option>
<mat-option value="">EU-Other</mat-option>
<mat-option value="">Gallia - APTP</mat-option>
<mat-option value="">Gallia - Non-APTP</mat-option>
<mat-option value="">Hyderabad</mat-option>
<mat-option value="">Iberia</mat-option>
<mat-option value="">Iberia-ACN</mat-option>
<mat-option value="">Italy</mat-option>
<mat-option value="">Italy-ACN</mat-option>
<mat-option value="">Japan</mat-option>
<mat-option value="">Malaysia</mat-option>
<mat-option value="">Mauritius</mat-option>
<mat-option value="">Mumbai</mat-option>
<mat-option value="">Mumbai-ACN</mat-option>
<mat-option value="">Mumbai-ACS</mat-option>
<mat-option value="">Philippines</mat-option>
<mat-option value="">Philippines-ACN</mat-option>
<mat-option value="">Poland</mat-option>
<mat-option value="">SAT-ACN</mat-option>
<mat-option value="">Singapore</mat-option>
<mat-option value="">SouthAfrica</mat-option>
<mat-option value="">SriLanka</mat-option>
<mat-option value="">UKI-Norway</mat-option>
<mat-option value="">UKI-Norway-ACN</mat-option>
<mat-option value="">US – ACS</mat-option>
<mat-option value="">US-Other</mat-option>
<mat-option value="">US-Other-ACN</mat-option>
    </mat-select></mat-form-field>
	</div>		
</div>
 <div class="row">
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Contract Region ">
 <mat-option value="">AAPAC</mat-option>
 <mat-option value="">Australia</mat-option>
 <mat-option value="">China</mat-option>
 <mat-option value="">Europe</mat-option>
 <mat-option value="">India</mat-option>
 <mat-option value="">Japan</mat-option>
 <mat-option value="">Latin America</mat-option>
 <mat-option value="">Malaysia</mat-option>
 <mat-option value="">North America</mat-option>
 <mat-option value="">Other</mat-option>
 <mat-option value="">Philippines</mat-option>
 <mat-option value="">South Africa</mat-option>
 <mat-option value="">Sri Lanka</mat-option>
    </mat-select></mat-form-field></div>
<div class="col-md-3">
<mat-form-field>
<mat-select placeholder=" Base Line ">
 <mat-option value="">Yes</mat-option> <mat-option value="">No</mat-option>
    </mat-select></mat-form-field>	
	 </div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="MWB ID"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Location ID"></mat-form-field></div>		
</div>			
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Building no."></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Floor"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Bay no."></mat-form-field></div>
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Diamond Client ">
 <mat-option value="">Yes</mat-option><mat-option value="">No</mat-option>
    </mat-select></mat-form-field></div>			
</div>		
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Channels WebContent"></mat-form-field></div>			
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Channels Creative Content"></mat-form-field></div>		
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Channels Email Marketing"></mat-form-field></div>			
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Channels Analytics"></mat-form-field></div>
</div>
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Channels AdOps"></mat-form-field></div>			
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="BE Focal "></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="BE Lead "></mat-form-field></div>		
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Mobilization Lead "></mat-form-field></div>
</div>	 
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="AMT Lead"></mat-form-field></div>			
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="SDO Maturity Champion"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="OG Lead"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="OSDL "></mat-form-field></div>
</div>
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Cluster lead (Enterprise id) "></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="MD Responsible  "></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="CFM (Enterprise id) "></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="OADM(BAL) Enterprise id "></mat-form-field></div>
</div>		
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="CAL's"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Solution Architect id"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Solutioned HC"></mat-form-field></div>
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Tools used ">
 <mat-option value="">SQF</mat-option>
 <mat-option value="">GPH</mat-option>
 <mat-option value="">ACF</mat-option>
    </mat-select></mat-form-field></div>
</div>
	
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Initial Contract Date"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Intial Contract Duration"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="of time contract extended"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Additional CR HC"></mat-form-field></div>
</div>
	<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Revenue - Total CR Value -$"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Revenue in-$ (current year) "></mat-form-field></div>


</div>

				
<div class="row"><div class="col-md-3"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div></div> 
</div>
			</div>		 
		  </div>          
      </div>
  </div>
</div>




<!--==============  Delivery performance Page     ============== -->
<div class="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 col-md-12">

	<br><br><br>	
<div class="table-responsive" >
     <table border="0" class="table table-striped table-bordered table-hover table-condensed DashboardTabel">
  <tbody>
    <tr>
      <th>2020</th>
      <td><div class="DashboardGreenline"><span class="DashboardRedDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardCircles">27</div></td>
    </tr>
    <tr>
      <th>2019 </th>
           <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardCircles">24</div></td>
    </tr>
    <tr>
      <th>2018 </th>
            <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>	
      <td><div class="DashboardCircles">16</div></td>
      </tr>
	<tr>
      <th>2017 </th>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardCircles">13</div></td>
    </tr>
    <tr>
      <th> 2016</th>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardCircles">9</div></td>
    </tr>
    <tr>
      <th>2015 </th>
        <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardCircles">7</div></td>
    </tr>
    <tr>
      <th>2014 </th>
       <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
       <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td><div class="DashboardCircles">4</div></td>
    </tr>
    <tr>
      <th>2013 </th>
       <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardCircles">4</div></td>
    </tr>
    <tr>
      <th>2012 </th>
      <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardCircles">2</div></td>
    </tr>
    <tr>
      <th>2011 </th>
       <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardCircles">2</div></td>
    </tr>
    <tr>
      <th>2010 </th>
       <td><div class="DashboardGreenline"><span class="DashboardGreenDOT"></span></div></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div class="DashboardCircles">2</div></td>
    </tr>
	  
	
 </tbody>  
<tfoot> 	  
    <tr>
      <th>&nbsp;</th>
      <td><img src="../../assets/img/ebay.png" width="30" /> </td>
      <td><img src="../../assets/img/bmw.jpg" width="30" /> </td>
      <td><img src="../../assets/img/download.png" width="30" /> </td>
      <td><img src="../../assets/img/logo.jpg" width="30" /> </td>
      <td><img src="../../assets/img/microsoft.jpg" width="30" /> </td>
      <td><img src="../../assets/img/P&G_logo.png" width="30" /> </td>
      <td><img src="../../assets/img/ebay.png" width="30" /> </td>
      <td><img src="../../assets/img/bmw.jpg" width="30" /> </td>
      <td><img src="../../assets/img/download.png" width="30" /> </td>
      <td><img src="../../assets/img/logo.jpg" width="30" /> </td>
      <td><img src="../../assets/img/microsoft.jpg" width="30" /> </td>
      <td><img src="../../assets/img/P&G_logo.png" width="30" /> </td>
      <td><img src="../../assets/img/ebay.png" width="30" /> </td>
      <td><img src="../../assets/img/bmw.jpg" width="30" /> </td>
      <td><img src="../../assets/img/download.png" width="30" /> </td>
      <td><img src="../../assets/img/logo.jpg" width="30" /> </td>
      <td><img src="../../assets/img/microsoft.jpg" width="30" /> </td>
      <td><img src="../../assets/img/P&G_logo.png" width="30" /> </td>
      <td><img src="../../assets/img/ebay.png" width="30" /> </td>
      <td><img src="../../assets/img/bmw.jpg" width="30" /> </td>
      <td><img src="../../assets/img/download.png" width="30" /> </td>
      <td><img src="../../assets/img/logo.jpg" width="30" /> </td>
      <td><img src="../../assets/img/microsoft.jpg" width="30" /> </td>
      <td><img src="../../assets/img/P&G_logo.png" width="30" /> </td>
      <td><img src="../../assets/img/ebay.png" width="30" /> </td>
      <td><img src="../../assets/img/bmw.jpg" width="30" /> </td>
      <td><img src="../../assets/img/download.png" width="30" /> </td>
      <td><img src="../../assets/img/logo.jpg" width="30" /> </td>
      <td><img src="../../assets/img/microsoft.jpg" width="30" /> </td>
      <td><img src="../../assets/img/P&G_logo.png" width="30" /> </td>
      <td><img src="../../assets/img/download.png" width="30" /> </td>
      <td><img src="../../assets/img/logo.jpg" width="30" /> </td>
      <td><img src="../../assets/img/microsoft.jpg" width="30" /> </td>
      <td><img src="../../assets/img/P&G_logo.png" width="30" /> </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>Web Content</th>
      <td><i class="material-icons">grade</i></td>
       <td><i class="material-icons">grade</i></td>
       <td><i class="material-icons">grade</i></td>
      <td>&nbsp;</td>
       <td><i class="material-icons">grade</i></td>
      <td>&nbsp;</td>
       <td><i class="material-icons">grade</i></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>Creative&nbsp; </th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>Campaign </th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>Ad Ops </th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>Analytics</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr id="footerBG">
      <th> FTE</th>
      <td>145 </td>
      <td> 000</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr id="footerBGTwo">
      <th> Annual Rev ('000)</th>
      <td>11.6m </td>
      <td> 1.5m</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
		 </tfoot>
</table>
	</div>
<!--	
==========================++++++++++++++++++++++++====================  -->

	<script>
		var $table = $('.table');
var $fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');

$fixedColumn.find('th:not(:first-child),td:not(:first-child)').remove();

$fixedColumn.find('tr').each(function (i, elem) {
    $(this).height($table.find('tr:eq(' + i + ')').height());
});
	</script>
	


</div></div></div></div>



