<!-- ==============  Margin Expansion  ============== -->
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
              <div class="card">
					<div class="card-header card-header-danger customIconBg">
					<div class="dealPerfrom">
					<h3 class="card-title EmpHeadColor">Margin Expansion</h3></div>				
					</div> 
				  
<div class="card-body custopfrom">
<div class="row" style=" padding:5px 0 50px;">
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>	
<div class="col-lg-1 col-md-1 col-sm-1"><mat-form-field>
<mat-select placeholder="Week">
 <mat-option value="">1 </mat-option>
 <mat-option value="">2 </mat-option>
 <mat-option value="">3 </mat-option>
 <mat-option value="">4 </mat-option>	
 </mat-select>
</mat-form-field>

	
	</div>	
<div class="col-lg-1 col-md-1 col-sm-1"><mat-form-field>
<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value="">April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
 </mat-select>
</mat-form-field>

	
	</div>
<div class="col-lg-1 col-md-1 col-sm-1">
<mat-form-field>
<mat-select placeholder="Financial year">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
 <mat-option value="">2015</mat-option>
 <mat-option value="">2014</mat-option>
    </mat-select></mat-form-field>
	</div>
<div class="col-lg-5 col-md-5 col-sm-5">&nbsp;</div>	
</div> 
	
	
	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Last year Cost"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Consulting-H1"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Consulting-Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Consulting-Total"></mat-form-field></div>		
</div> 
	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" PMO-H1"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" PMO-Q3"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" PMO-Total"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" SubK H1"></mat-form-field></div>	
</div> 
	 	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" SubK Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" SubK Total"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Pyramid Slendering H1"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Pyramid Slendering Q3"></mat-form-field></div>	
</div> 
	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Pyramid Slendering Total"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Payroll Exec H1"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Payroll Exec Q3"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Payroll Exec Total"></mat-form-field></div>		
</div> 

<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Higher Vacation H1"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Higher Vacation Q3	"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Higher Vacation Total"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" PD&R H1"></mat-form-field></div>		
</div> 
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="PD&R Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="PD&R Total	"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Automation Total"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Agile H1"></mat-form-field></div>		
</div> 
	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Agile Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Agile Total"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Onshore-Offshore H1"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder=" Onshore-Offshore Q3"></mat-form-field></div>		
</div> 
	 	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Onshore-Offshore Total"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Shift Utilization H1"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Shift Utilization Q3"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Shift Utilization Total"></mat-form-field></div>
</div> 
	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="WFH H1"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="WFH Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="WFH Total"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Travel H1"></mat-form-field></div>		
</div> 

<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Travel Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Travel Total"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Technology H1"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Technology Q3"></mat-form-field></div>		
</div> 
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Technology Total"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Others H1"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Others Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Others Total"></mat-form-field></div>		
</div> 	
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Total H1"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Total Q3"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="All Total "></mat-form-field></div>
	
</div> 		
	

<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div></div> 
	  
				  
			 </div>		 
		  </div>          
      </div>
  </div>
</div>
</div>
<!-- ==============  Margin Expansion  ============== -->