<div class="main-content">
    <div class="container-fluid">
        <!-- top color catagory -->
        <div class="col-sm-12 mb-4">
            <div class="card-group topLine">
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">Client Sat</div>
                        <div class="dotContenaier"> <span class="greenDdot"></span>
                        </div>
                    </div>
                </div>
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">Finances</div>
                        <div class="dotContenaier"> <span class="greenDdot"></span>
                        </div>
                    </div>
                </div>
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">Delivery content</div>
                        <div class="dotContenaier"> <span class="greenDdot"></span>
                        </div>
                    </div>
                </div>
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">Delivery campaign</div>
                        <div class="dotContenaier"> <span class="greenDdot"></span>
                        </div>
                    </div>
                </div>
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">Delivery other</div>
                        <div class="dotContenaier"> <span class="greenDdot"></span>
                        </div>
                    </div>
                </div>
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">People</div>
                        <div class="dotContenaier"> <span class="amberDdot"></span>
                        </div>
                    </div>
                </div>
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">Contractual SLA</div>
                        <div class="dotContenaier"> <span class="greenDdot"></span>
                        </div>
                    </div>
                </div>
                <div class="card no-padding carddotContenaier">
                    <div>
                        <div class="DP-Fontsize">Internal SLA</div>
                        <div class="dotContenaier"> <span class="redDdot"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end top color catagory -->
        <!-- ====  two up end  ==== -->
        <div class="row h3FontType">
            <div class="col-lg-6 col-md-12">
                <div _ngcontent-vop-c5="" class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon bg-threeBG"> <i class="material-icons">account_balance</i>
                                </div>
                                <p class="card-category">Finance</p>
                                <h3 class="card-title FinanceSmall"><small>Annual Revenue</small> $ 1.50 <small>mn</small></h3>
                            </div>
                            <div class="card-footer"></div>
                            <div class="row" style="padding-left: 10px;">
                                <div class="col-lg-3 col-md-3 col-sm-3">CVC/TVC</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">$ 1.506</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">Soln.CCI</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">36%</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">Target CCI</div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><b>36%</b></div>
                                <div class="col-lg-3 col-md-3 col-sm-3">Actual CCI</div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><b>40%</b></div>
                            </div>
                            <div class="card-chart cardFinance">
                                <div class="card-header-success bargraphBg">
                                    	<app-finance-skill-graph></app-finance-skill-graph>
                                </div>
                            </div>
                            <div class="row FinanceDropdown">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <select class="form-control">
                                        <option value="">YTD</option>
                                        <option value="">Forecast</option>
                                        <option value="">Fiscal Year</option>
                                        <option value="">CTD</option>
                                        <option value="">EAC</option>
                                        <option value="">January</option>
                                        <option value="">February</option>
                                        <option value="">March</option>
                                        <option value="">April</option>
                                        <option value="">May</option>
                                        <option value="">June</option>
                                        <option value="">July</option>
                                        <option value="">August</option>
                                        <option selected value="">September</option>
                                        <option value="" >October</option>
                                        <option value="">November</option>
                                        <option value="">December</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>ODE</strong></div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>Actuals</strong></div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>Variance</strong></div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>Revenue</strong></div>
                                <div class="col-lg-3 col-md-3 col-sm-3">283</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">235</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">(258)</div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>Cost</strong></div>
                                <div class="col-lg-3 col-md-3 col-sm-3">17</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">57</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">39</div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>CCI</strong></div>
                                <div class="col-lg-3 col-md-3 col-sm-3">566</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">268</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">(297)</div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>CCI%</strong></div>
                                <div class="col-lg-3 col-md-3 col-sm-3">97.0%</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">82.6%</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">-14.4%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
									<i class="material-icons">account_balance_wallet</i>
                                </div>
<p class="card-category"> Cost to Serve</p>
<h3 class="card-title FinanceSmall"><small>Firm</small> $ 0.010 <small>mn</small> </h3>
                            </div>
                            <div class="card-footer"></div>
                            <div class="row abc" style="padding-left:10px;">
                                <div class="col-lg-3 col-md-3 col-sm-3">Target</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">$ 1.506</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">Projected</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">$ 1.506</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">Actual</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">$ 1.506</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">Gap</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">$ 1.506</div>
                            </div>
                            <div class="card-chart cardFinance">
                                <div class="card-header card-header-warning bargraphBg" style="margin-left: 0; margin-right: 0; padding-top: 35px; padding-bottom: 35px;">
                                    <div class="ct-chart" id="websiteViewsChart" style=" margin: 0;"></div>
                                </div>
                            </div>
                            <div class="row FinanceDropdown">
                                <p class="col-lg-6 col-md-6 col-sm-6 card-category" style="margin: 4px 0 25px"><i class="material-icons">transfer_within_a_station</i> <strong> Digitization (FTE)</strong></p>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-right: 5%;">
                                    <select class="form-control">
                                        <option value="">January</option>
                                        <option value="">February</option>
                                        <option value="">March</option>
                                        <option value="">April</option>
                                        <option value="">May</option>
                                        <option value="">June</option>
                                        <option value="">July</option>
                                        <option value="">August</option>
                                        <option value="">September</option>
                                        <option value="">October</option>
                                        <option value="">November</option>
                                        <option value="">December</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>Target</strong></div>
                               <div class="col-lg-3 col-md-3 col-sm-3">123</div>
                               <div class="col-lg-3 col-md-3 col-sm-3"><strong>Actual</strong></div>
                               <div class="col-lg-3 col-md-3 col-sm-3">123</div>
                               <div class="col-lg-3 col-md-3 col-sm-3"><strong>Gap</strong></div>
                               <div class="col-lg-3 col-md-3 col-sm-3">123</div>
                               <div class="col-lg-3 col-md-3 col-sm-3"><strong>FTE Release</strong></div>
                               <div class="col-lg-3 col-md-3 col-sm-3">123</div>
                                <div class="col-lg-3 col-md-3 col-sm-3"><strong>Stage (<2)</strong></div>
                               <div class="col-lg-3 col-md-3 col-sm-3">23</div>
                               <div class="col-lg-3 col-md-3 col-sm-3"><strong>Stage (3/4)</strong></div>
                               <div class="col-lg-3 col-md-3 col-sm-3">23</div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pai  section  -->
            <div class="col-lg-6 col-md-12">
                <div class="card card-stats EmployeesStatsboxBg" style=" background: #fff;">
                    <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0; "><i class="material-icons">people_alt</i></span>
                            <h3 class="card-title" style=" display: flex; line-height: 49px;">Employees Stats</h3>
                        </div>
                        <p class="card-category" style=" line-height: 46px"><em>Our People makes the difference</em></p>
                    </div>
                    <div class="row">
									<div class="col-lg-9 col-md-9" bigdetailsPai>
										<div class="detailsPai">
											<span>PI 3.5</span>
											<small><i class="fa fa-users"></i>888</small>
											<small style=" color: #A0A0A0"><i class="material-icons" style=" color: #A0A0A0; font-size: 1.3em;">airline_seat_recline_extra</i>320</small>
										
										</div>
										<app-piechart></app-piechart></div>	
<!-- <div class="col-lg-3 col-md-3">-->
										<div class="col-lg-3 col-md-3 rightEmployeesStats">

<div class="Addicon">
<p><small>100%</small><span class="card-category"><i class="fa fa-male" style="color:#0098ff"></i>
	<strong>Male</strong> </span>
	</p>
</div>
<div class="Addicon">
<p><small>100%</small>
	<span class="card-category"><i class="fa fa-female" style="color:#ff5478"></i> <strong>Diversity</strong></span></p>
</div>												
											
<div class="Addicon">
<p><small>100%</small>
	<span class="card-category"><i class="fa fa-universal-access" style=" color:#81a600 "></i><strong>Contractors</strong></span></p>
</div>												

											
<div class="Addicon">
<p><small>4%</small>
	<span class="card-category"><i class="material-icons" style="color:#ff0c00; margin-bottom:43px;">emoji_people</i><strong>Redep</strong></span></p>
</div>												
											
<div class="Addicon">
<p><small>100%</small>
	<span class="card-category"><i class="material-icons" style="color:#007809; margin-bottom:43px;">directions_run</i><strong>Attrition</strong></span></p>
</div>												
											
<div class="Addicon">
<p><small>100%</small>
	<span class="card-category"><i class="material-icons" style="color:#ff9c00; margin-bottom:43px;">directions_walk</i><strong>HIPO </strong></span></p>
</div>												
													
											
											
<!--
											
										


											

											
<div class="Addicon">
<p><i class="material-icons" style="color:#007809">directions_run</i>
	<span class="card-category"><small>26%</small></span></p>
</div>	
											
<div class="Addicon">
<p>
	<span class="card-category"><small>18%</small></span></p>
</div>												
-->

									</div>
						
				  </div>
                </div>
            </div>
        </div>
        <!-- pai  section end  -->
        <div class="row h3FontType">
            <div class="col-lg-6 col-md-12">
                <div _ngcontent-vop-c5="" class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon"> <i class="material-icons">monetization_on</i>
                                </div>
<p class="card-category"> UpSells </p>
<h3 class="card-title FinanceSmall"><small>FTD Rev.</small> $ 0.100 <small>mn </small></h3>	
                            </div>
                            <div class="card-footer Headcount">
                                <div class="col-lg-4 col-md-4 col-sm-4"><strong>Headcount</strong></div>
                                <div class="col-lg-2 col-md-2 col-sm-2">200</div>
                                <div class="col-lg-4 col-md-4 col-sm-4"><strong>Of Contract</strong></div>
                                <div class="col-lg-2 col-md-2 col-sm-2">2</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon"> <i class="material-icons">person_add</i>
                                </div>
<p class="card-category"> Expected Pipeline & organic</p>
<h3 class="card-title FinanceSmall">10 <small>FTE</small> </h3>		
                            </div>
                            <div class="card-footer Headcount">
                                <div class="col-lg-4 col-md-4 col-sm-4"><strong>Organic HC</strong></div>
                                <div class="col-lg-2 col-md-2 col-sm-2">10</div>
                                <div class="col-lg-4 col-md-4 col-sm-4"><strong>Pipeline HC</strong></div>
                                <div class="col-lg-2 col-md-2 col-sm-2">10</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div _ngcontent-vop-c5="" class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon bg-threeBG"> <i class="material-icons">highlight</i>
                                        </div>
<p class="card-category">We @ Accenture</p>
<h3 class="card-title FinanceSmall">1.5 <small>IPP</small></h3>	
                                    </div>
                                    <div class="card-footer Headcount Wefontstyle">
                                        <div class="col-lg-7 col-md-7 col-sm-7">Implementation rate  <small> (30%) </small></div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 card-title">100%
                                        </div>
                                    </div>
                                    <div class="card-footer Headcount Wefontstyle">
                                       <div class="col-lg-7 col-md-7 col-sm-7">OnTime Implementation  <small> (30%) </small></div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 card-title">80%
                                        </div>
                                    </div>
                                    <div class="card-footer Headcount Wefontstyle">
                                        <div class="col-lg-7 col-md-7 col-sm-7">Implementation rate  <small> (20%) </small></div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 card-title">85%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon"> <i class="material-icons">device_hub</i>
                                        </div>
<p class="card-category">Agile</p>
<h3 class="card-title FinanceSmall"><small>Target</small> (55)</h3>				
                                    </div>
                                    <div class="card-footer Headcount ">
                                <div class="col-lg-4 col-md-4 col-sm-4">Actuals</div>
                                <div class="col-lg-2 col-md-2 col-sm-2">10</div>
                                <div class="col-lg-4 col-md-4 col-sm-4">Pipelines</div>
                                <div class="col-lg-2 col-md-2 col-sm-2">10</div>                          
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div _ngcontent-vop-c5="" class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon"> <i class="material-icons"> school</i>
                                </div>
<p class="card-category">Certification & Skills</p>
<h3 class="card-title FinanceSmall">10 <small> Cert.</small></h3>
                            </div>
                            <div class="card-chart cardFinance">
                                <div class="card-header ~card-header-success" style=" background-color: none;">
									<app-certification-skills-graph></app-certification-skills-graph>
									<!-- <app-certification-skills-graph></app-certification-skills-graph> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon"> <i class="material-icons">devices_other</i>
                                </div>
<p class="card-category">Total Assets</p>
<h3 class="card-title FinanceSmall">10</h3>								
                            </div>
                            <div class="card-chart cardFinance">
                                <div class="card-header ~card-header-warning" style="margin-left: 0; margin-right: 0;">
                                   <app-total-assets></app-total-assets>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h3FontType">
            <div class="col-lg-6 col-md-12">
                <div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg">
                        <div class="dealPerfrom">
                            <span style="float: left; margin: 0; padding:0;"><i class="material-icons">trending_up</i></span>
                            <h3 class="card-title" style="display: flex; line-height: 49px;">Deal performance </h3>
                        </div>
                        <p class="card-category dealPerfromList">
                            <select class="form-control">
                                <option value="">Current Month</option>
                                <option value="">YTD</option>
                                <option value="">CTD</option>
                            </select>
                        </p>
                    </div>

                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div style=" text-align: center">
                                   <!-- <app-deal-performance></app-deal-performance> -->
                                   <app-issue-breakdown></app-issue-breakdown>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <p class="card-category p-2" style=" text-align: center;">Issues Bifurcation </p>  
                                <app-issue-breakdown></app-issue-breakdown>
                            </div>
                            
                            <div class="col-lg-3 col-md-12">
                                <div class="d-flex flex-column" id="float-container" >
                                    <div class="p-2"><p>
						     	<i class="material-icons" style="border-radius:50%; font-size: 36px; color:#42a7ec ; float: left;">rate_review</i>	
                                 <span class="card-category"  >Requests managed<small>16014</small></span></p>
			</div>
								<div class="p-2"><p>
									<i class="material-icons" style="border-radius:50%; font-size: 36px; color:#ffb600 ; float: left;">emoji_events</i>	
                                 <span class="card-category">Appreciations<br><small>94</small></span>	</p>		
                                 </div>
									
								<div class="p-2"><p>
						     		<i class="material-icons" style="border-radius:50%; font-size: 36px; color: #ff6c8b; float: left;">new_releases</i>
                                <span class="card-category">Issues Raised<br><small>92</small></span></p>
			
                                    </div>	

                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
			 <div class="col-lg-6 col-md-12">
                <div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg">
                        <div class="dealPerfrom">
                            <span style="float: left; margin: 0; padding:0;"><i class="material-icons">how_to_reg</i> </span>
                            <h3 class="card-title" style="display: flex; line-height: 49px;">Contractual</h3>
                        </div>
                    </div>

                    <div class="card-body table-responsive">
                      
						         <div class="tab-pane" id="messages">
							
							<div class="card-body table-responsive contactus">
                                    <div class="row" style="padding-left: 10px; text-align: left;">
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">OM ID<small>7683</small>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">OG *<small>Communications,</small>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Contract Region <small>India</small>
                                        </div>
                                    </div>
                                </div>
								
							<div class="card-body table-responsive contactus">
                                    <div class="row" style="padding-left: 10px; text-align: left;">
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Contract / Billing type<small>Select</small>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Capability <small>Marketing</small>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Entity<small>Select</small>
                                        </div>
                                    </div>
                                </div>
								
							<div class="card-body table-responsive contactus">
                                    <div class="row" style="padding-left: 10px; text-align: left;">
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Tower <small>Content Management</small>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Reporting Area <small>Mumbai</small>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Delivery Region<small>India</small>
                                        </div>
                                    </div>
                                </div>	
															
							<div class="card-body table-responsive contactus">
                                    <div class="row" style="padding-left: 10px; text-align: left;">
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Location <small>Mumbai</small>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 card-title">Diamond Client<small>Yes</small>
                                        </div>
                                    </div>
                                </div>	
							</div>
                   </div>
                </div>
            </div>
        
        </div>
		
    </div>
</div>



<!-- ----------- footer ----------- -->
<footer>
  <div class="container-fluid p-0" style=" position: fixed; bottom: 0; z-index: 999">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title m-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="switchCopy">
                <i class="material-icons">contact_phone</i>  Contact
                </a>
          </p>
        </div>
        <div id="collapseOne" class="panel-collapse collapse col-lg-12 col-md-12 col-sm-12">
          <div class="panel-body">
                 <div class="card-body table-responsive">   
<!--
<div class="card-body table-responsive ">
<div class="col-sm-12 mb-12 row footContact">
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>BE Focal </strong><label>123456798</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>BE Lead </strong><label>123456798</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>Mobilization Lead </strong><label>123456798</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>Mobilization Lead </strong><label>123456798</label></div>
</div>
</div>
-->
<div class="card-body table-responsive ">
<div class="col-sm-12 mb-12 row footContact">
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>AMT Lead </strong><label>Sameer.sekhon</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>SDO Maturity Champion </strong><label>Sameer.sekhon</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>OG Lead </strong><label>sonal.h.mehra</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>SDL </strong><label>arnold.miranda</label></div>
</div>
</div>	
<div class="card-body table-responsive ">
<div class="col-sm-12 mb-12 row footContact">
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>Cluster lead </strong><label>sonal.h.mehra</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>MD Responsible </strong><label>sonal.h.mehra</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>CFM</strong><label>shilpa.s.kamble</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>OADM(BAL) </strong><label>shilpa.s.kamble</label></div>
</div>
</div>	
 <div class="card-body table-responsive ">
<div class="col-sm-12 mb-12 row footContact">
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>CAL's</strong><label>shilpa.s.kamble</label></div>
<div class="col-lg-3 col-md-3 col-sm-3 card-title"><strong>Solution Architect id</strong><label>shilpa.s.kamble</label></div>

</div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</footer>

<!-- ----------- footer ----------- -->	


<script>
//toggle footer
$("#collapseOne").on("show.bs.collapse", function() {
	$("html, body").animate({ scrollTop: 999999 }, "slow");
});

//switch between open and close when footer or contact nav is clicked

$('.primary-link').click(function(){
  $('.switchCopy').text($('.switchCopy').text() == 'close' ? 'open' : 'close');
});

$('.switchCopy').click(function(){
  $(this).text($(this).text() == 'close' ? 'open' : 'close');
});
	
</script>