<!-- ==============  Intelligent Operations ============== -->
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
              <div class="card">
					<div class="card-header card-header-danger customIconBg">
					<div class="dealPerfrom">
					<h3 class="card-title EmpHeadColor">Intelligent Operations</h3></div>				
					</div> 
				  
<div class="card-body custopfrom">
<div class="row" style=" padding:5px 0 50px;">
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>	
<div class="col-lg-1 col-md-1 col-sm-1"><mat-form-field>
<mat-select placeholder="Week">
 <mat-option value="">1 </mat-option>
 <mat-option value="">2 </mat-option>
 <mat-option value="">3 </mat-option>
 <mat-option value="">4 </mat-option>	
 </mat-select>
</mat-form-field>

	
	</div>	
<div class="col-lg-1 col-md-1 col-sm-1"><mat-form-field>
<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value="">April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
 </mat-select>
</mat-form-field>

	
	</div>
<div class="col-lg-1 col-md-1 col-sm-1">
<mat-form-field>
<mat-select placeholder="Financial year">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
 <mat-option value="">2015</mat-option>
 <mat-option value="">2014</mat-option>
    </mat-select></mat-form-field>
	</div>
<div class="col-lg-5 col-md-5 col-sm-5">&nbsp;</div>	
</div> 
	
	
	 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="OM ID Status">
 <mat-option value="">Active</mat-option>
 <mat-option value="">Inactive</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Was this contract renewed after 1st Sep 2017"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Glidepath to Foundation Green "></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Glidepath to Automated"></mat-form-field></div>	
</div> 
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Glidepath to Smart"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Glidepath to Intelligent"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Client Satisfaction">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Controls & Compliance">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>	
</div> 	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Contractual Commitments are met">
 <mat-option value="">Met</mat-option>
 <mat-option value="">Not met</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Accenture financials CTD targets Met">
 <mat-option value="">Met</mat-option>
 <mat-option value="">Not met</mat-option>
 </mat-select></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="SLA in Red"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="SLA in Green"></mat-form-field></div>	
</div>	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Solution productivity is Met">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="% of automation delivered (CTD)"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="SLA+ metrics are improved as aligned with Clients">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Deployment of Analytics and insights to drive Business outcomes"></mat-form-field></div>	
</div>	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"></div>
<div class="col-lg-3 col-md-6 col-sm-6"></div>
<div class="col-lg-3 col-md-6 col-sm-6"></div>
<div class="col-lg-3 col-md-6 col-sm-6"></div>	
</div>	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="BOI improvements are delivered consistently">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Implemented Agile workforce"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="End to end process is digitalized and transformed">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Art of possible automation"></mat-form-field></div>	
</div>	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Top quartile performance achieved for Client critical BOIs">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Spc.Talent: (Emp with Industry /Offering /Advisory/Niche skills / Expertise in critical skill for the deal / process)"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Transactional Talent:Emp who have skills to deliver MRPT work"></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Agile Talent: (Emp who are cross trained /spec but leveraged for multi processes/acct)"></mat-form-field></div>
</div>	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Digitized Workforce: (FTEs worth performed by BOT, RPA, AI, Analytics etc..)"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q1- Process is Operational Maturity Stable">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q2- Identified BOIs are being measured">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q3- Process is Operational Maturity Capable">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>	
</div>
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q4- SLA+ metrics are established and Measured">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q5- Team has done the BOI benchmarking and agreed and aligned with clients on the improvement focus">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q6- Transformation Roadmap created and aligned with client">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Q7- Transformation Roadmap has been shared with CXOs"></mat-form-field></div>		
</div>
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q8 (1)- Tool Map: GPH % (Accelerator)">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q8 (2)- Tool Map: Minibots %">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q8 (3)- Tool Map: RPA %">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q8 (4)- Tool Map: BPM %">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>	
</div>
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q8 (5)- Tool Map: AI / Analytics %">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q8 (6)- Tool Map: IAP %">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q9- Team has clearly defined Art of Possible and is driving Automatability projects to deliver higher productivity">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q11- Team has created and deployed Artificial Intelligence (AI) asset using advanced technologies fueled by AI, ML led predictive operations or alternative emerging technologies like Blockchain etc…">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>	
	
</div>
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Q12- >75% of the opportunities identified are executed as per roadmap agreed with client and >60% of the Digitization productivity achieved">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Immediate action Plans"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Reporting Span"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="MD floor walk confirmation for Foundation Green"></mat-form-field></div>	
</div>	
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="MD floor walk confirmation for Automated"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="MD floor walk confirmation for Insights-Driven"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="MD floor walk confirmation for Intelligent"></mat-form-field></div>	
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><input matInput placeholder="Item Type"></mat-form-field></div>	
</div>
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Assessment completed for current month">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Landing Target for FY19">
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Current IO Status">
 <mat-option value="">Foundation</mat-option>
 <mat-option value="">Automated</mat-option>
 <mat-option value="">Smart</mat-option>
 <mat-option value="">Intelligent</mat-option>
 </mat-select></mat-form-field></div>
<div class="col-lg-3 col-md-6 col-sm-6"><mat-form-field>
	<mat-select placeholder="Action plans for stage movements">
 <mat-option value="">Foundation</mat-option>
 <mat-option value="">Automated</mat-option>
 <mat-option value="">Smart</mat-option>
 <mat-option value="">Intelligent</mat-option>
 </mat-select></mat-form-field></div>	
</div>
	
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><textarea matInput placeholder="Path"></textarea></mat-form-field></div>
<div class="col-lg-6 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><textarea matInput placeholder="Remarks"></textarea></mat-form-field></div>
</div>
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div></div> 
	
		  
				  
			 </div>		 
		  </div>          
      </div>
  </div>
</div>
</div>
<!--==============  Intelligent Operations ============== -->


<!-- ==============  Scorecard  Page     ============== -->

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
			
			 
		 <div class="card">
			  <div class="card-header card-header-danger customIconBg">
			  <div class="dealPerfrom">
			  <h3 class="card-title EmpHeadColor" >Report - Scorecard</h3></div>					
			 </div>
			<div class="table-responsive text-nowrap card-body custopfrom">
<!--Table-->
  <div class="row ">
 <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	   
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Weeks">
 <mat-option value="">1</mat-option>
 <mat-option value="">2</mat-option>
 <mat-option value="">3</mat-option>
 <mat-option value="">4</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
	<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value=""> April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
    </mat-select></mat-form-field>
	
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Years">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
<div class="col-lg-2 col-md-2 col-sm-2">
<button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button>
	   
	   </div>
 <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>		   
</div>	  
  <div class="table">
  <div class="table-scroll">		  
<table border="0" class="table-main ~table table-striped table-bordered table-hover table-condensed ~DashboardTabel">		

  <!--Table head-->
 <thead>
<!--
	  <tr style="background:#eee;">
      <th width="300"  style=" border-top:1px solid #eee; " class="fix-col" scope="col"><span>Report - Scorecard</span></th>
      <td width="106" scope="col">&nbsp;</td>
      </tr>
-->
  </thead>
  <tbody>
	<tr>
	<th scope="row" class="fix-col"><label>Cluster Lead</label></th>
	<td  class="centerInforamtion">Arnold Miranda</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>BE Lead</label></th>
	<td class="centerInforamtion">Shashikant Joshi</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Deal Name</label></th>
	<td class="centerInforamtion">Sprint</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Location </label></th>
	<td class="centerInforamtion">Mumbai</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Total HC</label></th>
	<td align="right">9</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Count of OM IDs</label></th>
	<td align="right">1</td>
	</tr>

	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>Operations Maturity</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Not Stable</label></th>
	<td align="right">0 </td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Stable</label></th>
	<td align="right">1 </td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Capable</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>BE Focal Floor walk completed for Current month</label></th>
	<td align="right">Yes </td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>BE Lead floor walk completed for Current month</label></th>
	<td align="right">Yes</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>SDL floor walk completed for current month</label></th>
	<td align="right">Yes</td>
	</tr>
	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>Journey To Intelligent Operations</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Assessment completed for current month</label></th>
	<td align="right">No</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Landing Target for FY19</label></th>
	<td align="right">&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Current IO Status</label></th>
	<td align="right">&nbsp;</td>
	</tr>
	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>BOI & Metric Map</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Metric map completed?</label></th>
	<td align="right">Yes </td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>BOI & SLA+ data being populated and shared with client</label></th>
	<td align="right">Yes</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Basic insights/analysis conducted and shared with client?</label></th>
	<td align="right">Yes</td>
	</tr>
	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>Digital Floors</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Deployment plan agreed with SDL</label></th>
	<td align="right">N/A</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Views signed off</label></th>
	<td align="right">N/A</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Development completed</label></th>
	<td align="right">N/A</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Live</label></th>
	<td align="right">N/A</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Detailed FMEA as per ABC Framework available?</label></th>

	<td align="right">Yes</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Prirotized additional e2e alerts basis FMEA, SLA, SLA+BOI?</label></th>
	<td align="right">N/A</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Linkage done on GCC</label></th>
	<td align="right">N/A</td>
	</tr>
	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>We@A</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>IPP <strong>(1.5)</strong></label></th>
	<td align="right">5.89 </td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Implementation Rate <strong>(30%)</strong></label></th>
	<td align="right">133% </td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Ontime Implementation <strong>(80%)</strong></label></th>
	<td align="right">100%</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>OntimeValidation  <strong>(85%)</strong></label></th>
	<td align="right">100%</td>
	</tr>

	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>CTS</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Target</label></th>
	<td align="right">$0.00</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Projections</label></th>
	<td align="right">$1,850.00 </td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Firm (Including CF)</label></th>
	<td align="right">$17,066.00</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Gap</label></th>
	<td align="right">-$18,916.00</td>
	</tr>


	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>CVC</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Value identified</label></th>
	<td align="right">N/A</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Value delivered and signed off by client</label></th>
	<td align="right">N/A</td>
	</tr>

	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>CCI %(YTD)</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Target (ODE CCI%)</label></th>
	<td align="right">41.30%</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Actuals</label></th>
	<td align="right">44.20%</td>
	</tr>

	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>Client Escalation</span></th>
	<td align="right"><strong>0</strong></td>
	</tr>


	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>Agile (Target: 55)</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Actuals</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Pipelines</label></th>
	<td align="right">N/A</td>
	</tr>


	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>Digitization</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>FY19 Target</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>FY19 Actual (Automation + CU Stage 3+4)</label></th>
	<td align="right">2</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Gap [Target - (Actual + Projections)]</label></th>
	<td align="right">-2</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Stage (0/1/2)</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Stage ( 3/4) Automation</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Stage (3/4) CU</label></th>
	<td align="right">2</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Automation releases last 3 Fys</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>CU Releases last 3 Fys</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Entitlement Study completed (FTEs)</label></th>
	<td align="right">0</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Additional Information</label></th>
	<td align="right">&nbsp;</td>
	</tr>
	<tr style="background:#eee;">
	<th scope="row" class="fix-col" style="background:#eee;"><span>Contractor Ratio</span></th>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Total Headcount</label></th>
	<td align="right">9</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>FTE</label></th>
	<td align="right">6</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Contractor </label></th>
	<td align="right">3</td>
	</tr>
	<tr>
	<th scope="row" class="fix-col"><label>Contractor %</label></th>
	<td align="right">33.33%</td>
	</tr>



</table>

</div>
</div>  			
				
				
<!--Table-->
</div>
	    </div>  			 
      </div>
  </div>
</div>
	</div>
    