<div class="main-content">
  <div class="container-fluid">
   <div class="row">
      <div class="col-lg-6 col-md-12">				
	
		  <div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="CTS">account_balance_wallet</i></span>
                            <h3 class="card-title" style=" display: flex; line-height:55px;">CTS</h3>
                        </div>
                    </div>
<div class="card-body">					
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Target"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Actual (A)"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Carry Forwad (CF)"></mat-form-field></div>
</div> 
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="FY Saving (A+CF)"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Projecctions"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Total Savings"></mat-form-field></div>
</div> 
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Gap to Target"></mat-form-field></div>
<div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
</div> 	
	
		</div>         
		</div>		
		<!--==============  Deal Matrix     ============== -->      
		<div class="card card-stats EmployeesStatsboxBg">
		   <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
								<div class="dealPerfrom">
									<span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="CTS">account_balance_wallet</i></span>
									<h3 class="card-title" style=" display: flex; line-height:55px;">Deal Matrix</h3>
								</div>
							</div>

		<div class="card-body custopfrom">

		<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>		
		<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
		<mat-select placeholder="Week">
		 <mat-option value="">1 </mat-option>
		 <mat-option value="">2 </mat-option>
		 <mat-option value="">3 </mat-option>
		 <mat-option value="">4 </mat-option>	
		 </mat-select>
		</mat-form-field>


			</div>	
		<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
		<mat-select placeholder="Months">
		 <mat-option value="">January</mat-option>
		 <mat-option value="">February</mat-option>
		 <mat-option value="">March</mat-option>
		 <mat-option value="">April</mat-option>
		 <mat-option value="">May</mat-option>
		 <mat-option value="">June</mat-option>
		 <mat-option value="">July</mat-option>
		 <mat-option value="">August</mat-option>
		 <mat-option value="">September</mat-option>
		 <mat-option value="">October</mat-option>
		 <mat-option value="">November</mat-option>
		 <mat-option value="">December</mat-option>
		 </mat-select>
		</mat-form-field>
			</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
		<mat-form-field>
		<mat-select placeholder="Financial year">
		 <mat-option value="">2019</mat-option>
		 <mat-option value="">2018</mat-option>
		 <mat-option value="">2017</mat-option>
		 <mat-option value="">2016</mat-option>
		 <mat-option value="">2015</mat-option>
		 <mat-option value="">2014</mat-option>
			</mat-select></mat-form-field>
			</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
		<div class="user-area dropdown">			
		<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
		<label class="btn ~btn-success" for="customFileLang">Upload</label>				
		</div>
			</div>	

		</div> 		


		<div class="row">
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Contractual SLA" class="DealMatrixcolor">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>
		</mat-select>	
		</mat-form-field>
		<mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	
		</div>	
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Internal SLAs, (TAT, Prod, Accuracy)">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field></div>	
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Attrition">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field></div>		
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Client Escalations">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field></div>	
		</div>	
		<div class="row">	
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Volumes/Backlog">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>	
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="OM Assessment - Not Stable">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>	
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>	
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="C-SAT">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>	
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>	
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Finances">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>	
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
		</div>

		<div class="row">
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="3*3">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>	
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Delivery Content">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>	
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>	
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Delivery Campaign">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
		<div class="col-md-3"><mat-form-field class="example-full-width">
		<mat-select placeholder="Delivery Other">
		<mat-option value="" class="green">Green</mat-option>
		<mat-option value="" class="amber">Amber</mat-option>
		<mat-option value="" class="red">Red</mat-option>	
		<mat-option value="">NA</mat-option>	
		</mat-select>	
		</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
		</div>
		<div class="row">
		<div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="Weekly Updates Content"></textarea></mat-form-field></div>
		<div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="Global MOR Content "></textarea></mat-form-field></div>
		<div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="New MOR Content"></textarea></mat-form-field></div>
		</div>	



		<div class="row"><div class="col-lg-12 col-md-12 col-sm-12"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button></div></div> 
		</div>




					 </div>	
		<!--==============  Deal Matrix     ============== -->  
		 <!-- ==============  RCA  ============== -->
	   <div class="card card-stats EmployeesStatsboxBg">
		   <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
								<div class="dealPerfrom">
									<span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="CTS">account_balance_wallet</i></span>
									<h3 class="card-title" style=" display: flex; line-height:55px;">Root Cause Analysis </h3>
								</div>
							</div>

<div class="card-body custopfrom">
	
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>	
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
<mat-select placeholder="Week">
 <mat-option value="">1 </mat-option>
 <mat-option value="">2 </mat-option>
 <mat-option value="">3 </mat-option>
 <mat-option value="">4 </mat-option>	
 </mat-select>
</mat-form-field>

	
	</div>	
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value="">April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
 </mat-select>
</mat-form-field>

	
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field>
<mat-select placeholder="Financial year">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
 <mat-option value="">2015</mat-option>
 <mat-option value="">2014</mat-option>
    </mat-select></mat-form-field>
	</div>
<div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>	
</div> 		
	
 
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field class="example-full-width"><input matInput placeholder="Issue"></mat-form-field></div>
<div class="col-lg-4 col-md-4 col-sm-4">
<mat-form-field><mat-select placeholder="Impact / Severity">
 <mat-option value="">High</mat-option>
 <mat-option value="">Medium</mat-option>
 <mat-option value="">Low</mat-option>

    </mat-select></mat-form-field>
	</div>
<div class="col-lg-4 col-md-4 col-sm-4">
<mat-form-field><mat-select placeholder="Criticality ">
 <mat-option value="">High</mat-option>
 <mat-option value="">Medium</mat-option>
 <mat-option value="">Low</mat-option>

    </mat-select></mat-form-field>
	</div>	
</div>	
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field class="example-full-width"><input matInput placeholder="Owner"></mat-form-field></div>
<div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field class="example-full-width"><input matInput placeholder="Due Date"></mat-form-field></div>	
<div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field class="example-full-width"><input matInput placeholder="Status"></mat-form-field></div>	
</div>	
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><textarea matInput placeholder="Root Cause"></textarea></mat-form-field></div>
<div class="col-lg-6 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><textarea matInput placeholder="Action / Mitigation"></textarea></mat-form-field></div>	
</div>	
				
<div class="row"><div class="col-lg-12 col-md-12 col-sm-12"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button></div></div> 
</div>
		


		 
			 </div>		
           

		<!--==============  RCA  ============== --> 
		  
	  </div>
    <div class="col-lg-6 col-md-12">
             
		        <div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="OM Movement">assessment</i></span>
                            <h3 class="card-title" style=" display: flex; line-height:55px;">OM Movement</h3>
                        </div>
                    </div>
<div class="card-body">					
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="OM ID"></mat-form-field></div>
<div class="col-md-4">
<mat-form-field class="example-full-width">
<mat-select placeholder="Stability">		
 <mat-option value="">Stable</mat-option>
 <mat-option value="">Capable</mat-option>
 <mat-option value="">Optimized</mat-option>
<mat-option value="">Not Stable</mat-option>
 <mat-option value="">Optimized Re-cert</mat-option>
    </mat-select>	</mat-form-field></div>		
<div class="col-md-4">
<mat-form-field class="example-full-width">
<mat-select placeholder="Next Movement">		
 <mat-option value="">Stable</mat-option>
 <mat-option value="">Capable</mat-option>
 <mat-option value="">Optimized</mat-option>
<mat-option value="">Not Stable</mat-option>
 <mat-option value="">Optimized Re-cert</mat-option>
    </mat-select>	</mat-form-field></div>	
</div> 
<div class="row ">
<div class="col-md-4">
<mat-form-field class="example-full-width">
<mat-select placeholder="BE Focal Floor walk completed for Current month">		
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
    </mat-select>	</mat-form-field></div>	
<div class="col-md-4">
<mat-form-field class="example-full-width">
<mat-select placeholder="BE Lead floor walk completed for Current month">		
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
    </mat-select>	</mat-form-field></div>	
<div class="col-md-4">
<mat-form-field class="example-full-width">
<mat-select placeholder="SDL floor walk completed for current month">		
 <mat-option value="">Yes</mat-option>
 <mat-option value="">No</mat-option>
    </mat-select>	</mat-form-field></div>		
	
</div> 	
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Action plan "></mat-form-field></div>
<div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button> </div>
</div> 		
		</div>         
		</div>
				<div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Digitalization">transfer_within_a_station</i></span>
                            <h3 class="card-title" style=" display: flex; line-height:55px;">Digitalization</h3>
                        </div>
                    </div>
<div class="card-body">					
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi FY19 Target"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi FY19 Actual (Automation + CU Stage 3+4)"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Gap [Target - (Actual + Projections)]"></mat-form-field></div>
</div> 
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Stage (0/1/2)"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Stage ( 3/4) Automation"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Stage (3/4) CU"></mat-form-field></div>
</div> 
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Automation releases last 3 Fys"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Entitlement Study completed (FTEs)"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Additional Information"></mat-form-field></div>	
</div> 	
<div class="row ">
<div class="col-md-12"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
</div> 		
	
	
		</div>         
		</div>
				<div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Agile">device_hub</i></span>
                            <h3 class="card-title" style=" display: flex; line-height:55px;">Agile</h3>
                        </div>
                    </div>
<div class="card-body">					
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Actuals"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Pipelines"></mat-form-field></div>
<div class="col-md-4"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
</div> 

		</div>         
		</div>
				<div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Deal performance">trending_up</i></span>
                            <h3 class="card-title" style=" display: flex; line-height:55px;">Deal performance</h3>
                        </div>
                    </div>
				<div class="card-body">					
<div class="row ">
<div class="col-md-4">
<mat-form-field>
	<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value=""> April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
    </mat-select></mat-form-field>
</div>	
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Requests managed"></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Appreciations"></mat-form-field></div>	
</div> 
<div class="row ">
<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Issues Raised"></mat-form-field></div>	
<div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>

		</div>         
		</div>
 
					</div>
<!-- ==============  Attrition Trends  ============== -->
		        <div class="card card-stats EmployeesStatsboxBg">
                    <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="OM Movement">assessment</i></span>
                            <h3 class="card-title" style=" display: flex; line-height:55px;">Attrition Trends</h3>
                        </div>
                    </div>			 

<div class="card-body custopfrom">
	
<div class="row" >
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	
<div class="col-lg-1 col-md-1 col-sm-1" style="text-align: right; padding-top:19px; max-width: 1%; "><input type="radio" ng-model="color.name" ng-value=""></div>
<div class="col-lg-2 col-md-2 col-sm-2">	
	<mat-form-field>
<mat-select placeholder="Week">
 <mat-option value="">1 </mat-option>
 <mat-option value="">2 </mat-option>
 <mat-option value="">3 </mat-option>
 <mat-option value="">4 </mat-option>	
 </mat-select>
</mat-form-field>

	
	</div>	
<div class="col-lg-1 col-md-1 col-sm-1" style="text-align: right; padding-top:19px; max-width: 1%; "><input type="radio" ng-model="color.name" ng-value=""></div>	
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value="">April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
 </mat-select>
</mat-form-field>
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field>
<mat-select placeholder="Financial year">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
 <mat-option value="">2015</mat-option>
 <mat-option value="">2014</mat-option>
    </mat-select></mat-form-field>
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	
</div> 		
	
 
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3"><mat-form-field class="example-full-width"><input matInput placeholder="HC"></mat-form-field>
<!-- <small>Pre populate from employee DB (read only) will do at programming phase </small> --></div>
<div class="col-lg-3 col-md-3 col-sm-3"><mat-form-field class="example-full-width"><input matInput placeholder="Hygiene"></mat-form-field></div>
<div class="col-lg-3 col-md-3 col-sm-3"><mat-form-field class="example-full-width"><input matInput placeholder="Unmanaged Attrition % (FY19 )"></mat-form-field><!-- <small>Pre populate from employee DB (read only) will do at programming phase </small> --></div>
<div class="col-lg-3 col-md-3 col-sm-3"><mat-form-field class="example-full-width"><input matInput placeholder="HIPO Attrition % (FY19)"></mat-form-field><!-- <small>Pre populate from employee DB (read only) will do at programming phase </small> --></div>
</div>	
<div class="row">	
<div class="col-lg-6 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><textarea matInput placeholder="Reason for Red"></textarea></mat-form-field></div>
<div class="col-lg-6 col-md-6 col-sm-6"><mat-form-field class="example-full-width"><textarea matInput placeholder="Action plan to get into green"></textarea></mat-form-field></div>
</div>	
				
<div class="row"><div class="col-lg-3 col-md-3 col-sm-3"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button></div></div> 
</div>
		


		 
			 </div>
<!--==============  Attrition Trends  ============== -->
      </div>
    </div>
<!--  ==========================  Organic   ==========================  -->
	  <div class="row">
	       <div class="col-lg-12 col-md-12">
		   <div class="card">
			    <div class="card-header card-header-warning card-header-icon customIconBg">
                        <div class="dealPerfrom">                           
                            <h3 class="card-title" style=" display: flex; line-height:55px; padding-left: 10px;">Organic</h3>
                        </div>                     
                    </div>		
					<div class="card-body">					
					<div class="row ">
					<div class="col-md-4"><mat-form-field>
						 <mat-select placeholder="Probability">
					<mat-option value="">10%</mat-option>
					<mat-option value="">15%</mat-option>
					<mat-option value="">20%</mat-option>
					<mat-option value="">25%</mat-option>
					<mat-option value="">30%</mat-option>
					<mat-option value="">50%</mat-option>
					<mat-option value="">75%</mat-option>	
					<mat-option value="">100%</mat-option>		 
						</mat-select>	</mat-form-field></div>
					<div class="col-md-4"><mat-form-field>
					<mat-select placeholder="Stage">
					<mat-option value="">1</mat-option>
					<mat-option value="">2</mat-option>
					<mat-option value="">3</mat-option>
					<mat-option value="">4</mat-option>
					<mat-option value="">5</mat-option>
						</mat-select>	</mat-form-field></div>	
					<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Estimated HC"></mat-form-field></div>
					</div> 
					<div class="row ">
					<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Deal Name"></mat-form-field></div>		
					<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Upsell Revenue"></mat-form-field></div>
					<div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Organic Renewal"></mat-form-field></div>	
					</div> 
					<div class="row ">		
					
					<div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="Comments"></textarea></mat-form-field></div>
					</div> 
						
		</div>  
		   
<div class="table-responsive OrganicWidhscroll" >
     <table border="0" width="100%" class="table table-striped table-bordered table-hover table-condensed DashboardTabel OrganicWidh">
    <thead>
        <tr>
<th>Jan</th>
            <th>Feby</th>
           <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
			 <th>Jun</th>
			 <th>Jul</th>
			 <th>Aug</th>
			 <th>Sep</th>	
			 <th>Oct</th>		
			 <th>Nov</th>
			 <th>Dec</th>			
        </tr>
    </thead>
    <tbody>
        <tr class="~table-info">
            <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
            <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
			  <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
            <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
             <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
			
        </tr>
        
        
    </tbody>
</table>
			
			   <div class="row">
					
				 <div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin:15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">add_circle</i> ADD new Fiscal year </button></div>
			</div> 	
		     </div> 
			  
				<!-- ======================== Table View  =========================== -->
<br><br><br>

<table class="table table-striped w-auto" border="0" cellspacing="0" cellpadding="3">
    <thead>
        <tr>
            <th><strong>Deal Name</strong></th>
            <th><strong>Estimated HC</strong></th>
			<th><strong>&nbsp;</strong></th>
        </tr>
    </thead>


    <tbody>
<tr class="table-info">
           <th scope="row">12665645</th>
            <td>Otto</td>
            <td><button class="btn" ng-click="edit(item)">Edit</button></td>
        </tr>
        <tr>
           <th scope="row">12665645</th>
            <td>Otto</td>
            <td><button class="btn" ng-click="edit(item)">Edit</button></td>
        </tr>
    </tbody>
</table>
      <div class="card" style=" padding:0;"></div>   
			   
<!--	  ===================== 		   -->
			   </div>
	  </div>
	  </div>		
<!--  ==========================  Organic   ==========================  -->	   
		   
		   
	  
	  
</div>
</div>


