
<!-- ==============  Deal Financial Summary Page     ============== -->
<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
							<!-- ======================== Finance ============================ -->
		  <div class="card card-stats EmployeesStatsboxBg">
 <div class="card-header card-header-warning card-header-icon customIconBg">
                        <div class="dealPerfrom">
                            <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Finance">account_balance</i></span>
                            <h3 class="card-title" style=" display: flex; line-height:55px;">Finance</h3>
                        </div>                     
                    </div>				
<div class="card-body">		
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field class="example-full-width"><input matInput placeholder="CVC/TVC"></mat-form-field></div>
<div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field class="example-full-width"><input matInput placeholder="Target CCI"></mat-form-field></div>
<div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field class="example-full-width"><input matInput placeholder="Soln.CCI"></mat-form-field></div>
</div> 	
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>	
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value="">April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
 </mat-select>
</mat-form-field>

	
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field>
<mat-select placeholder="Financial year">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
 <mat-option value="">2015</mat-option>
 <mat-option value="">2014</mat-option>
    </mat-select></mat-form-field>
	</div>
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div> 	

<div class="row ">
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	
<div class="col-lg-2 col-md-2 col-sm-2"><span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Master Contract NO 1345679</span></div>
<div class="col-lg-2 col-md-2 col-sm-2">
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">Actuals </label>				
</div>
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">	
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">ODE</label>				
</div>
</div>	
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>
<div class="row ">
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	
<div class="col-lg-2 col-md-2 col-sm-2"><span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Sub Contract NO 1345679</span></div>
<div class="col-lg-2 col-md-2 col-sm-2">
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">Actuals </label>				
</div>
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">	
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">ODE</label>				
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>		
</div>		
<div class="row">
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	
<div class="col-lg-2 col-md-2 col-sm-2"><span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Sub Contract NO 1345679</span></div>
<div class="col-lg-2 col-md-2 col-sm-2">
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">Actuals </label>				
</div>
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">	
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">ODE</label>				
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>		
</div>	
<div class="row ">
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	
<div class="col-lg-2 col-md-2 col-sm-2"><span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Sub Contract NO 1345679</span></div>
<div class="col-lg-2 col-md-2 col-sm-2">
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">Actuals </label>				
</div>
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">	
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">ODE</label>				
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>		
</div>		
<div class="row ">
<div class="col-lg-8 col-md-8 col-sm-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
	</div>
		</div>         
		</div>
			<!-- ======================== Finance ============================ -->	
			</div>
			
		 <!-- ==============  dDeal Financial Summary Page     ============== -->  	
		<div class="col-lg-12 col-md-12">
		 <div class="card">
			  <div class="card-header card-header-danger customIconBg">
			  <div class="dealPerfrom">
			  <h3 class="card-title EmpHeadColor" >Deal Financial Summary</h3></div>					
			 </div>
		   <div class="table-responsive text-nowrap card-body custopfrom">
<!--Table-->
  <div class="row ">
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	   
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Weeks">
 <mat-option value="">1</mat-option>
 <mat-option value="">2</mat-option>
 <mat-option value="">3</mat-option>
 <mat-option value="">4</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
	<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value=""> April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
    </mat-select></mat-form-field>
	
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Years">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
<div class="col-lg-1 col-md-1 col-sm-1">
<button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Generate Report </button></div>
<div class="col-lg-2 col-md-2 col-sm-2"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin:15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">system_update_alt</i> Download Excel</button></div>	
<div class="col-lg-1 col-md-1 col-sm-2">&nbsp;</div>	  
</div>	  
			
<table border="0" class="table-main ~table table-striped table-bordered table-hover table-condensed ~DashboardTabel">		
  <tbody>
    <tr>
      <th scope="row"><label>Master Client Name</label></th>
      <td width="196" class="centerInforamtion"><strong>SOFTBANK-HIVE Program</strong></td>
      </tr>
    <tr>
      <th scope="row"><label>Master Contract Name</label></th>
      <td class="centerInforamtion">HIVE Program</td>
      </tr>
    <tr>
      <th scope="row"><label>Master Contract</label></th>
      <td class="centerInforamtion">9940273893</td>
      </tr>
    <tr>
      <th scope="row"><label>Start Date</label></th>
      <td class="centerInforamtion">30-Jun-18</td>
      </tr>
    <tr>
      <th scope="row"><label>End Date</label></th>
      <td class="centerInforamtion">30-Jun-20</td>
      </tr>
    <tr>
      <th scope="row"><label>Currency</label></th>
      <td class="centerInforamtion">USD</td>
      </tr>
    <tr>
      <th scope="row"><label>Location</label></th>
      <td class="centerInforamtion">Mumbai</td>
      </tr>
    <tr style="background:#eee;">
      <th scope="row"><span>FINANCIAL SUMMARY ('000)</span> 
        <select class="form-control" style=" background: none; padding-left:8px;">
          <option value="">YTD</option>
          <option value="">Forecast</option>
          <option value="">Fiscal Year</option>
          <option value="">CTD</option>
          <option value="">EAC</option>
          <option value="">January</option>
          <option value="">February</option>
          <option value="">March</option>
          <option value="">April</option>
          <option value="">May</option>
          <option value="">June</option>
          <option value="">July</option>
          <option value="">August</option>
          <option selected value="">September</option>
          <option value="" >October</option>
          <option value="">November</option>
          <option value="">December</option>
          </select>
        
        </th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><small>ACTUALS</small></th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 Revenue</label></th>
      <td align="right">1,000 </td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 Contract Cost</label></th>
      <td align="right">634 </td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 CCI</label></th>
      <td align="right">366 </td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 CCI%</label></th>
      <td align="right">36.6%</td>
      </tr>
    <tr>
      <th scope="row"><small>ODE</small></th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 Revenue</label></th>
      <td align="right">1,000 </td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 Contract Cost</label></th>
      <td align="right">549 </td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 CCI</label></th>
      <td align="right">452 </td>
      </tr>
    <tr>
      <th scope="row"><label>November 2018 CCI%</label></th>
      <td align="right">45.1%</td>
      </tr>
    <tr>
      <th scope="row"><small>Variance</small></th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><label>Revenue</label></th>
      <td align="right">0 </td>
      </tr>
    <tr>
      <th scope="row"><label>Contract Cost</label></th>
      <td align="right">85 </td>
      </tr>
    <tr>
      <th scope="row"><label>CCI</label></th>
      <td align="right">(85)</td>
      </tr>
    <tr>
      <th scope="row"><label>CCI%</label></th>
      <td align="right">-8.5%</td>
      </tr>
    <tr style="background:#eee;">
      <th scope="row"><span>CCI EXPANSION</span></th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><small>2018</small></th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><label>Revenue</label></th>
      <td align="right">2,185 </td>
      </tr>
    <tr>
      <th scope="row"><label>Contract CCI</label></th>
      <td align="right">1,351 </td>
      </tr>
    <tr>
      <th scope="row"><label>Contract CCI%</label></th>
      <td align="right">61.8%</td>
      </tr>
    <tr>
      <th scope="row"><small>2019</small></th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><label>Target CCI %</label></th>
      <td align="right">62.5%</td>
      </tr>
    <tr>
      <th scope="row"><label>Contract CCI</label></th>
      <td align="right">1,361 </td>
      </tr>
    <tr>
      <th scope="row"><small>ACTUALS</small></th>
      <td align="right">&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><label>Revenue</label></th>
      <td align="right">6,995 </td>
      </tr>
    <tr>
      <th scope="row"><label>Contract CCI</label></th>
      <td align="right">2,780 </td>
      </tr>
    <tr>
      <th scope="row"><label>Contract CCI%</label></th>
      <td align="right">39.7%</td>
      </tr>
    <tr>
      <th scope="row"><small>Gap</small></th>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <th scope="row"><label>Contract CCI</label></th>
      <td align="right">(1,419)</td>
      </tr>
    <tr>
      <th scope="row"><label>Contract CCI%</label></th>
      <td align="right">22.8%</td>
      </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
      </tr>
    
    
  </tbody>
</table>				
				
<!--Table-->
</div>
	    </div>  			 
      </div>
		</div>
	</div>
</div>


    