
<!--==============  Internal Page     ============== -->
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
              <div class="card">
					<div class="card-header card-header-danger customIconBg">
					<div class="dealPerfrom">
					<h3 class="card-title EmpHeadColor">Internal Tool</h3></div>
					<!--<div class="user-area dropdown float-right">			
					<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
					<label class="btn btn-success" for="customFileLang">Bulk Upload</label>				
					</div>-->
					</div> 
				  
<div class="card-body custopfrom">
 <div class="row">
 <div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title internaltool">MME</h3></div>
	<div class="card-footer"><div class="stats"><i class="material-icons">keyboard_arrow_right</i><a href="https://mme.accenture.com" target="_blank">MME.ACCENTURE.COM</a></div></div></div> 
	 </div>	 
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title internaltool">CORE-BEAT</h3></div>
	<div class="card-footer"><div class="stats"><i class="material-icons">keyboard_arrow_right</i><a href="https://core-beat.accenture.com" target="_blank">CORE-BEAT.ACCENTURE.COM</a></div></div></div> 
	 </div>	 
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title internaltool">WE@A</h3></div>
	<div class="card-footer"><div class="stats"><i class="material-icons">keyboard_arrow_right</i><a href="https://weataccenture.accenture.com" target="_blank">WEATACCENTURE.ACCENTURE.COM</a></div></div></div> 
	 </div>	 	 
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title internaltool">PORTAL ACCENTURE</h3></div>
	<div class="card-footer"><div class="stats"><i class="material-icons">keyboard_arrow_right</i><a href="https://portal.accenture.com" target="_blank">PORTAL.ACCENTURE.COM</a></div></div></div> 
	 </div>	  	 
</div> 
 <div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title internaltool">CONTROLL-FRAME</h3></div>
	<div class="card-footer"><div class="stats"><i class="material-icons">keyboard_arrow_right</i>
		<a href="https://controlframework.accenture.com" target="_blank">CONTROLFRAMEWORK.ACCENTURE.COM</a></div></div></div> 
	 </div>	 
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title internaltool">DIGIVIEW</h3></div>
	<div class="card-footer"><div class="stats"><i class="material-icons">keyboard_arrow_right</i><a href="https://nextgenbpoupload.accenture.com/DigiView/Home.aspx" target="_blank">NEXTGENBPOUPLOAD.ACCENTURE.COM</a></div></div></div> 
	 </div>	 
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title internaltool">SUPPORT-IT</h3></div>
	<div class="card-footer"><div class="stats"><i class="material-icons">keyboard_arrow_right</i><a href="https://support.accenture.com" target="_blank">SUPPORT.ACCENTURE.COM</a></div></div></div> 
	 </div>	 	 	 
</div> 	

</div> 
		 
		  </div>          
      </div>
  </div>
</div>
</div>
	
<!--==============  Internal Page     ============== -->
