<div class="main-content">
    <div class="container-fluid">
     <div class="row">
        <div class="col-lg-6 col-md-12">
                    
            <div class="card card-stats EmployeesStatsboxBg">
   <div class="card-header card-header-warning card-header-icon customIconBg">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Finance">account_balance</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">Finance</h3>
                          </div>
                       
                      </div>				
  <div class="card-body">		
  <div class="row">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="CVC/TVC"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Target CCI"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Soln.CCI"></mat-form-field></div>
  </div> 	
  <div class="row ">
  <div class="col-lg-4 col-md-4 col-sm-4"><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field>
  
      
      </div>
  <div class="col-lg-4">
      <mat-form-field>
  <mat-select placeholder="Financial year">
   <mat-option value="">2019</mat-option>
   <mat-option value="">2018</mat-option>
   <mat-option value="">2017</mat-option>
   <mat-option value="">2016</mat-option>
   <mat-option value="">2015</mat-option>
   <mat-option value="">2014</mat-option>
      </mat-select></mat-form-field>
      </div>
  </div> 	
  
  <div class="row ">
  <div class="col-md-6">
  <span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Master Contract NO 12345679</span>	
  <div class="user-area dropdown">			
  <input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
  <label class="btn ~btn-success" for="customFileLang">Upload File</label>				
  </div>
  </div>
          
  <div class="col-md-6">
  <span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Sub Contract NO 12345679</span>	
  <div class="user-area dropdown">			
  <input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
  <label class="btn ~btn-success" for="customFileLang">Upload File</label>				
  </div>
  </div>
      
  </div>
  <div class="row">
  <div class="col-md-6">&nbsp;</div>	
  <div class="col-md-6">
  <span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Sub Contract NO 12345679</span>	
  <div class="user-area dropdown">			
  <input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
  <label class="btn ~btn-success" for="customFileLang">Upload File</label>				
  </div>
  </div> </div>	
  <div class="row ">
      <div class="col-md-6">
          <div class="col-md-3"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
      
      </div>
          
  <div class="col-md-6">
  <span class="mat-select-placeholder ng-tns-c7-705 ng-star-inserted FinanceBrowse">Sub Contract NO 12345679</span>	
  <div class="user-area dropdown">			
  <input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
  <label class="btn ~btn-success" for="customFileLang">Upload File</label>				
  </div>
  </div>
      
  </div>
      
  
      
      
          </div>         
          </div>
            <div class="card card-stats EmployeesStatsboxBg">
                      <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="We @ Accenture">highlight</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">We @ Accenture</h3>
                          </div>
                      </div>
  <div class="card-body">					
  <div class="row ">
  <div class="col-md-4"><mat-form-field>
      <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value=""> April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
      </mat-select></mat-form-field>
      
      </div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Year"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="No. of Ideas Submitted"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="IPP"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Implementation Rate"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Ontime Implementation"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Validation Rate"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Red Flagged Ideas"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Auto Deletion"></mat-form-field></div>
  </div> 	
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Approaching Auto Deletion"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Potential Red Flagged"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Ideas to be red flagged in next 7 days"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Ideas to be red flagged in next 30 days"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Ontime Implementation (80%)"></mat-form-field></div>
  <div class="col-md-4"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>	
  </div> 	
          </div>         
          </div>		  
            <div class="card card-stats EmployeesStatsboxBg">
                      <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Organic">person_add</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">Organic</h3>
                          </div>
                      </div>
  <div class="card-body">					
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Deal Name"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Lead Name"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Stage"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Probability"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="HC"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Upsell Revenue"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Estimated HC"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Organic Renewal"></mat-form-field></div>
  <div class="col-md-4"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
  </div> 	
      
          </div>         
          </div>
            <div class="card card-stats EmployeesStatsboxBg">
                      <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="CTS">account_balance_wallet</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">CTS</h3>
                          </div>
                      </div>
  <div class="card-body">					
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Target"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Actual (A)"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Carry Forwad (CF)"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="FY Saving (A+CF)"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Projecctions"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Total Savings"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Gap to Target"></mat-form-field></div>
  <div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
  </div> 	
      
          </div>         
          </div>		  	
            
        </div>
      <div class="col-lg-6 col-md-12">
               
                  <div class="card card-stats EmployeesStatsboxBg">
                      <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="OM Movement">assessment</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">OM Movement</h3>
                          </div>
                      </div>
  <div class="card-body">					
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="OM ID"></mat-form-field></div>
  <div class="col-md-4">
  <mat-form-field class="example-full-width">
  <mat-select placeholder="Stability">		
   <mat-option value="">Stable</mat-option>
   <mat-option value="">Capable</mat-option>
   <mat-option value="">Optimized</mat-option>
  <mat-option value="">Not Stable</mat-option>
   <mat-option value="">Optimized Re-cert</mat-option>
      </mat-select>	</mat-form-field></div>		
  <div class="col-md-4">
  <mat-form-field class="example-full-width">
  <mat-select placeholder="Next Movement">		
   <mat-option value="">Stable</mat-option>
   <mat-option value="">Capable</mat-option>
   <mat-option value="">Optimized</mat-option>
  <mat-option value="">Not Stable</mat-option>
   <mat-option value="">Optimized Re-cert</mat-option>
      </mat-select>	</mat-form-field></div>	
  </div> 
  <div class="row ">
  <div class="col-md-4">
  <mat-form-field class="example-full-width">
  <mat-select placeholder="BE Focal Floor walk completed for Current month">		
   <mat-option value="">Yes</mat-option>
   <mat-option value="">No</mat-option>
      </mat-select>	</mat-form-field></div>	
  <div class="col-md-4">
  <mat-form-field class="example-full-width">
  <mat-select placeholder="BE Lead floor walk completed for Current month">		
   <mat-option value="">Yes</mat-option>
   <mat-option value="">No</mat-option>
      </mat-select>	</mat-form-field></div>	
  <div class="col-md-4">
  <mat-form-field class="example-full-width">
  <mat-select placeholder="SDL floor walk completed for current month">		
   <mat-option value="">Yes</mat-option>
   <mat-option value="">No</mat-option>
      </mat-select>	</mat-form-field></div>		
      
  </div> 	
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Action plan "></mat-form-field></div>
  <div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button> </div>
  </div> 		
          </div>         
          </div>
                  <div class="card card-stats EmployeesStatsboxBg">
                      <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Digitalization">transfer_within_a_station</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">Digitalization</h3>
                          </div>
                      </div>
  <div class="card-body">					
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi FY19 Target"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi FY19 Actual (Automation + CU Stage 3+4)"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Gap [Target - (Actual + Projections)]"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Stage (0/1/2)"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Stage ( 3/4) Automation"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Stage (3/4) CU"></mat-form-field></div>
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Automation releases last 3 Fys"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Entitlement Study completed (FTEs)"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Digi Additional Information"></mat-form-field></div>	
  </div> 	
  <div class="row ">
  <div class="col-md-12"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
  </div> 		
      
      
          </div>         
          </div>
                  <div class="card card-stats EmployeesStatsboxBg">
                      <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Agile">device_hub</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">Agile</h3>
                          </div>
                      </div>
  <div class="card-body">					
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Agile"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Pipelines"></mat-form-field></div>
  <div class="col-md-4"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
  </div> 
  
          </div>         
          </div>
                  <div class="card card-stats EmployeesStatsboxBg">
                      <div class="card-header card-header-warning card-header-icon customIconBg" style="padding-right: 10px;">
                          <div class="dealPerfrom">
                              <span style=" float: left; margin: 0; padding:0;"><i class="material-icons" title="Deal performance">trending_up</i></span>
                              <h3 class="card-title" style=" display: flex; line-height:55px;">Deal performance</h3>
                          </div>
                      </div>
  <div class="card-body">					
  <div class="row ">
  <div class="col-md-4">
  <mat-form-field>
      <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value=""> April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
      </mat-select></mat-form-field>
  </div>	
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Requests managed"></mat-form-field></div>
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Appreciations"></mat-form-field></div>	
  </div> 
  <div class="row ">
  <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Issues Raised"></mat-form-field></div>	
  <div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div>
  
          </div>         
          </div>
          
        </div>   
        </div>
   
        
      </div>
  </div>
  </div>
  
  
  
  <!--  ==========================  Pipeline   ==========================  -->
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
             <div class="col-lg-12 col-md-12">
             <div class="card">
                  <div class="card-header card-header-warning card-header-icon customIconBg">
                          <div class="dealPerfrom">                           
                              <h3 class="card-title" style=" display: flex; line-height:55px; padding-left: 10px;">Pipeline</h3>
                          </div>                     
                      </div>		
                      <div class="card-body">					
                      <div class="row ">
  <!--
                      
                      <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Lead Name"></mat-form-field></div>
  -->				
                      <div class="col-md-4"><mat-form-field>
                           <mat-select placeholder="Probability">
                      <mat-option value="">10%</mat-option>
                      <mat-option value="">15%</mat-option>
                      <mat-option value="">20%</mat-option>
                      <mat-option value="">25%</mat-option>
                      <mat-option value="">30%</mat-option>
                      <mat-option value="">50%</mat-option>
                      <mat-option value="">75%</mat-option>	
                      <mat-option value="">100%</mat-option>		 
                          </mat-select>	</mat-form-field></div>
                      <div class="col-md-4"><mat-form-field>
                      <mat-select placeholder="Stage">
                      <mat-option value="">1</mat-option>
                      <mat-option value="">2</mat-option>
                      <mat-option value="">3</mat-option>
                      <mat-option value="">4</mat-option>
                      <mat-option value="">5</mat-option>
                          </mat-select>	</mat-form-field></div>	
                      <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Temporary Deal Name"></mat-form-field></div>	
                      
                      </div> 
                      <div class="row ">
                      <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Estimated HC"></mat-form-field></div>	
                      <div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="Comments"></textarea></mat-form-field></div>
                      </div> 	
                          
          </div>  
                 
  <div class="table-responsive" >
       <table border="0" class="table table-striped table-bordered table-hover table-condensed DashboardTabel" style=" margin: 0 15px;">
      <thead>
          <tr>
  <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
              <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
             <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
              <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
              <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>	
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>		
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>			
          </tr>
      </thead>
      <tbody>
          <tr class="~table-info">
              <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
              <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
                <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
              <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
              
          </tr>
          
          
      </tbody>
  </table>
              
                 <div class="row">
                      
                      <div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin:15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">add_circle</i> ADD Rows </button></div>
                  </div> 	
                 </div> 
                
                  <!-- ======================== Table View  =========================== -->
  <br><br><br>
  
  <table class="table table-striped w-auto" border="0" cellspacing="0" cellpadding="3">
      <thead>
          <tr>
              <th><strong>Temporary Deal Name</strong></th>
              <th><strong>Estimated HC</strong></th>
              <th><strong>&nbsp;</strong></th>
          </tr>
      </thead>
  
  
      <tbody>
  <tr class="table-info">
             <th scope="row">12665645</th>
              <td>Otto</td>
              <td><button class="btn" ng-click="edit(item)">Edit</button></td>
          </tr>
          <tr>
             <th scope="row">12665645</th>
              <td>Otto</td>
              <td><button class="btn" ng-click="edit(item)">Edit</button></td>
          </tr>
      </tbody>
  </table>
        <div class="card" style=" padding:0;"></div>   
                 
  <!--	  ===================== 		   -->
                 </div>
        </div>
        </div>		  
  
        
  </div>	
  </div>	
  
  
  <!--  ==========================  Pipeline   ==========================  -->  
  
       
  <!--  ==========================  Organic   ==========================  -->
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
             <div class="col-lg-12 col-md-12">
             <div class="card">
                  <div class="card-header card-header-warning card-header-icon customIconBg">
                          <div class="dealPerfrom">                           
                              <h3 class="card-title" style=" display: flex; line-height:55px; padding-left: 10px;">Organic</h3>
                          </div>                     
                      </div>		
                      <div class="card-body">					
                      <div class="row ">
                      <div class="col-md-4"><mat-form-field>
                           <mat-select placeholder="Probability">
                      <mat-option value="">10%</mat-option>
                      <mat-option value="">15%</mat-option>
                      <mat-option value="">20%</mat-option>
                      <mat-option value="">25%</mat-option>
                      <mat-option value="">30%</mat-option>
                      <mat-option value="">50%</mat-option>
                      <mat-option value="">75%</mat-option>	
                      <mat-option value="">100%</mat-option>		 
                          </mat-select>	</mat-form-field></div>
                      <div class="col-md-4"><mat-form-field>
                      <mat-select placeholder="Stage">
                      <mat-option value="">1</mat-option>
                      <mat-option value="">2</mat-option>
                      <mat-option value="">3</mat-option>
                      <mat-option value="">4</mat-option>
                      <mat-option value="">5</mat-option>
                          </mat-select>	</mat-form-field></div>	
                      <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Estimated HC"></mat-form-field></div>
                      </div> 
                      <div class="row ">
                      <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Deal Name"></mat-form-field></div>		
                      <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Upsell Revenue"></mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="example-full-width"><input matInput placeholder="Organic Renewal"></mat-form-field></div>	
                      </div> 
                      <div class="row ">		
                      
                      <div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="Comments"></textarea></mat-form-field></div>
                      </div> 
                          
          </div>  
                 
  <div class="table-responsive" >
       <table border="0" class="table table-striped table-bordered table-hover table-condensed DashboardTabel" style=" margin: 0 15px;">
      <thead>
          <tr>
  <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
              <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
             <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
              <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
              <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>	
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>		
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>
               <th><mat-form-field>
  <mat-select placeholder="Months">
   <mat-option value="">January</mat-option>
   <mat-option value="">February</mat-option>
   <mat-option value="">March</mat-option>
   <mat-option value="">April</mat-option>
   <mat-option value="">May</mat-option>
   <mat-option value="">June</mat-option>
   <mat-option value="">July</mat-option>
   <mat-option value="">August</mat-option>
   <mat-option value="">September</mat-option>
   <mat-option value="">October</mat-option>
   <mat-option value="">November</mat-option>
   <mat-option value="">December</mat-option>
   </mat-select>
  </mat-form-field></th>			
          </tr>
      </thead>
      <tbody>
          <tr class="~table-info">
              <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
              <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
                <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
              <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
               <td scope="row"><mat-form-field class="example-full-width"><input matInput placeholder="hc"></mat-form-field></td>
              
          </tr>
          
          
      </tbody>
  </table>
              
                 <div class="row">
                      
                      <div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin:15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">add_circle</i> ADD Rows </button></div>
                  </div> 	
                 </div> 
                
                  <!-- ======================== Table View  =========================== -->
  <br><br><br>
  
  <table class="table table-striped w-auto" border="0" cellspacing="0" cellpadding="3">
      <thead>
          <tr>
              <th><strong>Deal Name</strong></th>
              <th><strong>Estimated HC</strong></th>
              <th><strong>&nbsp;</strong></th>
          </tr>
      </thead>
  
  
      <tbody>
  <tr class="table-info">
             <th scope="row">12665645</th>
              <td>Otto</td>
              <td><button class="btn" ng-click="edit(item)">Edit</button></td>
          </tr>
          <tr>
             <th scope="row">12665645</th>
              <td>Otto</td>
              <td><button class="btn" ng-click="edit(item)">Edit</button></td>
          </tr>
      </tbody>
  </table>
        <div class="card" style=" padding:0;"></div>   
                 
  <!--	  ===================== 		   -->
                 </div>
        </div>
        </div>	
        
  </div>	
  </div>	
  
  
  <!--  ==========================  Pipeline   ==========================  -->  	