<!--==============  User Profile creation Page     ============== -->
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
              <div class="card">
					<div class="card-header card-header-danger customIconBg">
					<div class="dealPerfrom">
					<h3 class="card-title EmpHeadColor">User Profile</h3></div>				
					</div> 
				  
<div class="card-body custopfrom">
<div class="row" style=" margin-top: 30px; padding-bottom: 30px;">
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field class="example-full-width"><input matInput placeholder="Enterprise ID"></mat-form-field></div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field>
<mat-select placeholder="Access Details">
<mat-option value="">Edit</mat-option>
<mat-option value="">Write</mat-option>	 
<mat-option value="">View</mat-option>	 	
</mat-select>	</mat-form-field>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field>
<mat-select placeholder="Select Deal Name">
<mat-option value="">Sprint</mat-option>
<mat-option value="">CIBC</mat-option>	 
<mat-option value="">FIAT</mat-option>	 	
</mat-select>	</mat-form-field>
</div>
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field class="example-full-width"><input matInput placeholder="Validity"></mat-form-field></div>
<div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>
	 
</div> 
	
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats Profilecreation">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title">Super Admin</h3></div>
	<div class="card-footer">
	<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Read</label>
  </div>
	 <div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Write</label>
  </div>
<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">View</label>
  </div>
	</div></div> 
	 
	 </div>	 
 <div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats Profilecreation">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title">Deal Spoc</h3></div>
	<div class="card-footer">
	<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Read</label>
  </div>
	 <div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Write</label>
  </div>
<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">View</label>
  </div>
	</div></div> 
	 
	 </div>	  
 <div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats Profilecreation">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title">External Spoc</h3></div>
	<div class="card-footer">
	<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Read</label>
  </div>
	 <div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Write</label>
  </div>
<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">View</label>
  </div>
	</div></div> 
	 
	 </div>	
 <div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats Profilecreation">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title">Leadership View</h3></div>
	<div class="card-footer">
	<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Read</label>
  </div>
	 <div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Write</label>
  </div>
<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">View</label>
  </div>
	</div></div> 
	 
	 </div>		 
</div> 
 <div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="card card-stats Profilecreation">
	<div class="card-header card-header-warning card-header-icon">
	<h3 class="card-title">General</h3></div>
	<div class="card-footer">
	<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Read</label>
  </div>
	 <div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">Write</label>
  </div>
<div class="form-check">
    <input type="checkbox" class="" id="">
    <label class="form-check-label" for="exampleCheck1">View</label>
  </div>
	</div></div> 
	 
	 </div>	 
 <div class="col-lg-3 col-md-6 col-sm-6">&nbsp;</div>	  
<div class="col-lg-3 col-md-6 col-sm-6">&nbsp;</div>	  
<div class="col-lg-3 col-md-6 col-sm-6">&nbsp;</div>	  	 
</div> 
<div class="row">
<div class="col-md-8"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin:15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">add_to_queue</i> Register </button></div>
</div> 	
	
	
</div> 
				  
				  
				  

<div class="table-responsive text-nowrap card-body ~custopfrom">	  
<table width="100%" border="1" class="table table-striped table-bordered table-hover table-condensed WeatIdeas" cellspacing="2" cellpadding="0">
    <thead>
        <tr>
            <th><strong>EMP ID</strong></th>
            <th><strong>Name</strong></th>	
            <th><strong>Deal Name</strong></th>
            <th><strong>Validity</strong></th>			
            <th><strong>Generic Information</strong></th>
            <th><strong>We @ Accenture</strong></th>
            <th><strong>Finance</strong></th>	
			<th><strong>Contacts</strong></th>	
			<th><strong>Pyramid Index</strong></th>	
			<th><strong>Cost to Serve</strong></th>	
			<th><strong>Digitization</strong></th>	
			<th><strong>Project Pipeline</strong></th>				
        </tr>
    </thead>


    <tbody>
        <tr class="table-info">
            <td scope="row">12346645</td>
            <td>Shilpa</td>
			<td>Sprint</td>
			<td>31-Dec-2020</td>
            <td><i class="material-icons" title="View">visibility</i></td>			
			<td><i class="material-icons" title="write">done</i></td>
			<td><i class="material-icons" title="write">done</i></td>
			<td><i class="material-icons" title="write">done</i></td>
			<td><i class="material-icons" title="write">done</i></td>
			<td><i class="material-icons" title="write">done</i></td>
			<td><i class="material-icons" title="write">done</i></td>
			<td><i class="material-icons" title="write">done</i></td>			
       		
        </tr>

    </tbody>
</table>				  
		  </div>  				  
		 
		  </div>          
      </div>
  </div>
</div>
</div>
<!--==============  User Profile creation Page     ============== -->

<!-- ============== Weekly  MOR View     ============== -->

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">

		 <div class="card">
			  <div class="card-header card-header-danger customIconBg">
			  <div class="dealPerfrom">
			  <h3 class="card-title EmpHeadColor" >Weekly MOR</h3></div>					
			 </div>
			<div class="table-responsive text-nowrap card-body custopfrom">
<!--Table-->
 <div class="row ">
 <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	   
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Weeks">
 <mat-option value="">1</mat-option>
 <mat-option value="">2</mat-option>
 <mat-option value="">3</mat-option>
 <mat-option value="">4</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
	<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value=""> April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
    </mat-select></mat-form-field>
	
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Years">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
<div class="col-lg-2 col-md-2 col-sm-2">
<button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button>
	   
	   </div>
 <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>		   
</div>	  
		  
		  
<table border="1" class="table table-striped table-bordered table-hover table-condensed repportMor" cellspacing="2" cellpadding="0">
  <!--Table head-->
  <thead>
	<tr>
		<th>Deal</th>
        <!--<th>Contractual SLA </th>-->
		<th>Contractual SLA</th>
		<th>Internal SLAs, (TAT, Prod, Accuracy)</th>
		<th>Attrition</th>
		<th>Client Escalations </th>
		<th>Volumes/Backlog </th>				
		<th>OM Assessment - Not Stable </th>
		<th>Comments </th>

	</tr>
  </thead>
  <!--Table head-->

  <!--Table body -->
  <tbody>
<tr>
<td scope="row" align="center">SPRINT</td>
<td class="tdi">&nbsp;</td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>	
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td>- OM lite project with 5 FTE to support till January 2019.<br>
- Managed 15 tickets for the week with 100% quality<br>
- Successfully completed two MR release on 9/30 & 10/4 with total 21 tickets<br>
- Contract extended till Jan 2020. Extension till March 2020 is under discussion<br>
- No contractual SLA. All internal KPI's are Green<br>
	</td>	
</tr>
<tr>
  <td scope="row" align="center">RBS</td>
<td class="tdi">&nbsp;</td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>	
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td>'- OM lite project with 0.5 FTE to support till Dec 2019 <br>
- Managed 5 tickets for the week with 100% quality.<br>
- Contract extended till end of Dec with 0.5 FTE.<br>
- Involved UK sales team to pitch for new scope of work.<br>
- No contractual SLA. All internal KPI's are Green<br>	
	</td>
</tr> 


  </tbody>  



</table>
<!--Table-->
</div>
	    </div>     
			 
				 
      </div>
  </div>
</div>
	</div>
<!-- ============== Weekly  MOR View     ============== -->
<!-- ============== Global   MOR View     ============== -->
<!-- 
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
			
			 
		 <div class="card">
			  <div class="card-header card-header-danger customIconBg">
			  <div class="dealPerfrom">
			  <h3 class="card-title EmpHeadColor" >Global MOR</h3></div>					
			 </div>
			<div class="card-body custopfrom">

<div class="row" style=" padding: 15px 0">
 <div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>	   
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
	<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value=""> April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
    </mat-select></mat-form-field>	
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Years">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
 <div class="col-lg-1 col-md-1 col-sm-1">				
<button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button>				
</div>
 <div class="col-lg-2 col-md-2 col-sm-2">				
<button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">save_alt</i> Export to excel  </button>				
</div>	
 <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	  
</div>	  
		  
<div class="table-responsive text-nowrap ">
<table border="1" class="table table-striped table-bordered table-hover table-condensed repportMor DashboardTabel" cellspacing="2" cellpadding="0">

  <thead>
	<tr>
		<th>Web Scale </th>
		<th>Owner </th>
		<th>SDL</th>
		<th>Account Lead</th>
		<th>Client </th>
		<th>Delivery Center</th>			
		<th>GO</th>
		<th>REG</th>		
		<th>Supports Platform</th>
		<th>Platform Tech</th>
		<th>MLR</th>
		<th>C-SAT</th>
		<th>Finances</th>
		<th>Delivery Content</th>	
		<th>Delivery Campaign  </th>
		<th>Delivery Other</th>	
		<th>People</th>			
		<th align="left">Comments </th>
	</tr>
  </thead>

  <tbody>
 <tr>
<td scope="row">No</td>
<td>Sonal</td>
<td>vaziyad.medhora</td>
<td>Gregory, Barry</td>
<td>CIBC</td>
<td>Mumbai</td>
<td>FS</td>
<td>NA</td>
<td>Client</td>
<td>Other</td>
<td>-</td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td>-</td>	 
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi"><i class="material-icons">fiber_manual_record</i></td>	 
<td>'- Managed 478 tickets with volume decrease of 13.87% in comparison to last month with contractual SLA at 100% <br>
- Dual entries for tickets has been stopped since 12th Feb and all ticket will be opened in JIRA only. New Service desk approach on ticket creation in progress from onshore<br>
- Team received E-achievers appreciations for successful Q1 delta<br>
- Appreciations received from the Onshore Managers for the ASD team for coordinating & executing high volumes for the month end<br>
- 1 Miss had been recorded for QA team where incorrect content changes went live<br>
- Only 6 issues now remain open and new due dates have been added (ref slide 6)<br>
- 4 appreciations received for ASD Teams for timely support and team coordination (ref slide 10)<br>
- Automated Morning and Afternoon reports are being used to share daily status of CR’s<br>
- Amendments to the Morning & Afternoon email Automation queries are in progress</td>	
</tr>  


  </tbody>  



</table>

</div>					
</div>
	    </div>  			 
      </div>
  </div>
</div>
	</div>

-->

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
			
			 
		 <div class="card">
			  <div class="card-header card-header-danger customIconBg">
			  <div class="dealPerfrom">
			  <h3 class="card-title EmpHeadColor" >Global MOR</h3></div>					
			 </div>
			<div class="card-body custopfrom">
<!--Table-->
<div class="row" style=" padding: 15px 0">
 <div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>	   
<div class="col-lg-2 col-md-2 col-sm-2"><mat-form-field>
	<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value=""> April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
    </mat-select></mat-form-field>	
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<mat-form-field><mat-select placeholder="Years">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
    </mat-select></mat-form-field>
	   
	   </div>
 <div class="col-lg-1 col-md-1 col-sm-1">				
<button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button>				
</div>
 <div class="col-lg-2 col-md-2 col-sm-2">				
<button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">save_alt</i> Export to excel  </button>				
</div>	
 <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div>	  
</div>	  
		  
<div class="table-responsive text-nowrap ">		  
<table border="1" class="table table-striped table-bordered table-hover table-condensed repportMor TBLcenter" cellspacing="2" cellpadding="0">
  <!--Table head-->
  <thead>
	<tr>
		<th>Contract end date</th>
        <!--<th>Contractual SLA </th>-->
		<th>Client</th>
		<th>Delivery Center</th>
		<th>Scope of Service </th>
		<th>OG</th>				
		<th>Region</th>
		<th>Supports Platform </th>
		<th>Platform Tech </th>
		<th>MLR</th>
		<th>C-SAT</th>
		<th>current Finances  </th>
		<th>Margin Expanse </th>
		<th>Delivery status</th>
		<th>people</th>
		<th>MOB status</th>
		<th>Upsell 2020</th>
		<th>J2IO status</th>
		<th>General commentary</th>
		</tr>
  </thead>
  <!--Table head-->

  <!--Table body -->
  <tbody>
<tr>
<td scope="row" align="center">3/31/2020</td>
<td>Sprint</td>
<td>Mumbai</td>
<td>Web Site Content Create Update</td>
<td>CMT</td>
<td >NA</td>
<td>Client</td>
<td>Other</td>
<td>-</td>
<td>-</td>
<td class="tdi" ><i class="material-icons">fiber_manual_record</i></td>
<td>-</td>
<td><i class="material-icons">fiber_manual_record</i></td>
<td class="tdi" ><i class="material-icons">fiber_manual_record</i></td>
<td>-</td>
<td>N</td>
<td>NA</td>
<td>'- Managed 98 tickets for the month.<br>
- Supported 8 marketing release & 3 digital release for the month<br>
- Contract extended till March 2020.<br>
- Accenture successfully completed Iconic release and Sprint was the first carrier to have a full website in market with 100% Quality<br>
- No contractual SLA. All internal KPI's are Green.</td>
</tr> 


  </tbody>  



</table>
<!--Table-->
</div>					
</div>
	    </div>  			 
      </div>
  </div>
</div>
	</div>


<!-- ============== Global   MOR View     ============== -->