<!--==============  Contractual confirguration   ============== -->

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
              <div class="card">
				  
					  <div class="card-header card-header-danger customIconBg">
					  <div class="dealPerfrom">
					  <h3 class="card-title EmpHeadColor" >Contractual confirguration</h3></div>
						  <div class="user-area dropdown float-right">			
  			<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
			 <label class="btn btn-success" for="customFileLang">Bulk Upload</label>				
			</div>
					 </div>

<div class="card-body custopfrom">
 <div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input  required matInput placeholder="Master Contract No."></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input  required matInput placeholder="Sub Contract No"></mat-form-field></div>	 
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="OG *"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Region"></mat-form-field></div>

</div>
<div class="row">
<div class="col-md-3"><mat-form-field>
	 <mat-select placeholder="Contract / Billing type">
<mat-option value="">Transactional</mat-option>
<mat-option value="">Fixed</mat-option>
<mat-option value="">FTE</mat-option>
<mat-option value="">Cost Plus</mat-option>
<mat-option value="">Managed Services</mat-option>
<mat-option value="">Outcome Based</mat-option>
<mat-option value="">Staff Augmentation</mat-option>
<mat-option value="">Transaction Based</mat-option>
<mat-option value="">Volume Based</mat-option>
    </mat-select>	</mat-form-field>
	 </div>	
<div class="col-md-3"><mat-form-field>
	 <mat-select placeholder="Capability">
<mat-option value="">Accelerated RD for Pharmaceuticals</mat-option>
<mat-option value="">Credit Services</mat-option>
<mat-option value="">Customer Service</mat-option>
<mat-option value="">Emerging  Cross Industry</mat-option>
<mat-option value="">Emerging  Industry Specific</mat-option>
<mat-option value="">Finance and Accounting</mat-option>
<mat-option value="">Health Administration</mat-option>
<mat-option value="">HR Services</mat-option>
<mat-option value="">Human Resources</mat-option>
<mat-option value="">Insurance</mat-option>
<mat-option value="">Intelligent Shared Services (ISS)</mat-option>
<mat-option value="">Marketing</mat-option>
<mat-option value="">Marketing & Media Management</mat-option>
<mat-option value="">etwork Services BPO</mat-option>
<mat-option value="">Sales and Customer Services</mat-option>
<mat-option value="">Sales Operations</mat-option>
<mat-option value="">SDTEM</mat-option>
<mat-option value="">Sourcing and Procurement</mat-option>
<mat-option value="">Supply Chain</mat-option>
<mat-option value="">Talent Learning</mat-option>
<mat-option value="">Utilities</mat-option>
    </mat-select>	
	</mat-form-field>
	 </div>
<div class="col-md-3">
	<mat-form-field>
<mat-select placeholder="Entity">
 <mat-option value="">Communication, Media and Technology</mat-option>
 <mat-option value="">Digital Marketing</mat-option>
 <mat-option value="">Financial Services</mat-option>
 <mat-option value="">Health</mat-option>
 <mat-option value="">India Domestic Account</mat-option>
 <mat-option value="">Intelligent Shared Services</mat-option>
 <mat-option value="">Learning</mat-option>
 <mat-option value="">Pharma</mat-option>
 <mat-option value="">Products</mat-option>
 <mat-option value="">Resources</mat-option>
 <mat-option value="">Service Desk</mat-option>
 <mat-option value="">Shared Services (BSS)</mat-option>
 <mat-option value="">Software and Platform – Google</mat-option>
 <mat-option value="">Software and Platform – Others</mat-option>
 <mat-option value="">Supply Chain, Network and Procurement</mat-option>

    </mat-select></mat-form-field>	
	</div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Tower"></mat-form-field></div>
	
</div>
 <div class="row">
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Reporting Area ">
<mat-option value="">SAT</mat-option>
<mat-option value="">APTP</mat-option>
<mat-option value="">Argentina</mat-option>
<mat-option value="">Argentina-ACN</mat-option>
<mat-option value="">ASG</mat-option>
<mat-option value="">Bangalore</mat-option>
<mat-option value="">Bangalore-ACN</mat-option>
<mat-option value="">Brazil</mat-option>
<mat-option value="">Brazil-ACN</mat-option>
<mat-option value="">Canada</mat-option>
<mat-option value="">Chennai</mat-option>
<mat-option value="">China</mat-option>
<mat-option value="">China-ACN</mat-option>
<mat-option value="">Costa-Rica</mat-option>
<mat-option value="">Danubia</mat-option>
<mat-option value="">Danubia-ACN</mat-option>
<mat-option value="">Delhi</mat-option>
<mat-option value="">EU-Other</mat-option>
<mat-option value="">Gallia - APTP</mat-option>
<mat-option value="">Gallia - Non-APTP</mat-option>
<mat-option value="">Hyderabad</mat-option>
<mat-option value="">Iberia</mat-option>
<mat-option value="">Iberia-ACN</mat-option>
<mat-option value="">Italy</mat-option>
<mat-option value="">Italy-ACN</mat-option>
<mat-option value="">Japan</mat-option>
<mat-option value="">Malaysia</mat-option>
<mat-option value="">Mauritius</mat-option>
<mat-option value="">Mumbai</mat-option>
<mat-option value="">Mumbai-ACN</mat-option>
<mat-option value="">Mumbai-ACS</mat-option>
<mat-option value="">Philippines</mat-option>
<mat-option value="">Philippines-ACN</mat-option>
<mat-option value="">Poland</mat-option>
<mat-option value="">SAT-ACN</mat-option>
<mat-option value="">Singapore</mat-option>
<mat-option value="">SouthAfrica</mat-option>
<mat-option value="">SriLanka</mat-option>
<mat-option value="">UKI-Norway</mat-option>
<mat-option value="">UKI-Norway-ACN</mat-option>
<mat-option value="">US – ACS</mat-option>
<mat-option value="">US-Other</mat-option>
<mat-option value="">US-Other-ACN</mat-option>
    </mat-select></mat-form-field>
	</div>		 
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Contract Region ">
 <mat-option value="">AAPAC</mat-option>
 <mat-option value="">Australia</mat-option>
 <mat-option value="">China</mat-option>
 <mat-option value="">Europe</mat-option>
 <mat-option value="">India</mat-option>
 <mat-option value="">Japan</mat-option>
 <mat-option value="">Latin America</mat-option>
 <mat-option value="">Malaysia</mat-option>
 <mat-option value="">North America</mat-option>
 <mat-option value="">Other</mat-option>
 <mat-option value="">Philippines</mat-option>
 <mat-option value="">South Africa</mat-option>
 <mat-option value="">Sri Lanka</mat-option>
    </mat-select></mat-form-field></div>
<div class="col-md-3">
<mat-form-field>
<mat-select placeholder=" Base Line ">
 <mat-option value="">Yes</mat-option> <mat-option value="">No</mat-option>
    </mat-select></mat-form-field>	
	 </div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="MWB ID"></mat-form-field></div>
	
</div>			
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Location ID"></mat-form-field></div>		
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Building no."></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Floor"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Bay no."></mat-form-field></div>
		
</div>		
<div class="row">
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Diamond Client ">
 <mat-option value="">Yes</mat-option><mat-option value="">No</mat-option>
    </mat-select></mat-form-field></div>		
<div class="col-md-3">
<mat-form-field class="example-full-width">
<mat-select placeholder="Channels WebContent">		
 <mat-option value="">Channels Creative Content</mat-option>
 <mat-option value="">Channels Email Marketing</mat-option>
<mat-option value="">Channels Analytics </mat-option>
<mat-option value="">Channels AdOps</mat-option>	
    </mat-select>	</mat-form-field>	
	
	</div>			
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="BE Focal "></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="BE Lead "></mat-form-field></div>		

</div> 
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="Mobilization Lead "></mat-form-field></div>	
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="AMT Lead"></mat-form-field></div>			
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="SDO Maturity Champion"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="OG Lead"></mat-form-field></div>

</div>
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="OSDL "></mat-form-field></div>	
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="Cluster lead (Enterprise id) "></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="MD Responsible  "></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="CFM (Enterprise id) "></mat-form-field></div>

</div>		
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="OADM(BAL) Enterprise id "></mat-form-field></div>	
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="CAL's"></mat-form-field></div>
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" RBE ">
 <mat-option value="">AIO</mat-option>
 <mat-option value="">Digital</mat-option>
</mat-select></mat-form-field></div>	
<div class="col-md-3"><mat-form-field class="example-full-width"><input required matInput placeholder="Solution Architect id"></mat-form-field></div>
	
</div>	
<div class="row">	
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Solutioned HC"></mat-form-field></div>	
<div class="col-md-3"><mat-form-field>
<mat-select placeholder=" Tools used ">
 <mat-option value="">SQF</mat-option>
 <mat-option value="">GPH</mat-option>
 <mat-option value="">ACF</mat-option>
    </mat-select></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Initial Contract Date"></mat-form-field></div>
<div class="col-md-3"><mat-form-field class="example-full-width"><input matInput placeholder="Intial Contract Duration"></mat-form-field></div>	
	
</div>
	
<div class="row">
  <div class="dealPerfrom" style=" padding: 15px 15px 0;"> <h3 class="card-title EmpHeadColor" >Add new contract</h3></div>
</div>
<div class="row">
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Time of contract extended"></mat-form-field></div>
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Revenue - Total CR Value -$"></mat-form-field></div>
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Revenue in-$ (current year) "></mat-form-field></div>	
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Revenue in-$ (current year) "></mat-form-field></div>	
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Subcontract no"></mat-form-field></div>
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Contract Start Date "></mat-form-field></div>		
</div>
<div class="row">
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Contract End Date"></mat-form-field></div>	
<div class="col-md-2"><mat-form-field>
<mat-select placeholder="Has the CR raised">
<mat-option value="">Yes</mat-option>	
<mat-option value="">NO</mat-option>
</mat-select>	</mat-form-field></div>
<div class="col-md-2"><mat-form-field>
<mat-select placeholder="Client Approved (signed)">
<mat-option value="">Yes</mat-option>	
<mat-option value="">NO</mat-option>
</mat-select>	</mat-form-field></div>	
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Additional CR HC"></mat-form-field></div>	
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Revenue - Total CR Value "></mat-form-field></div>	
<div class="col-md-2"><mat-form-field class="example-full-width"><input matInput placeholder="Revenue in (current year)"></mat-form-field></div>	
</div>
<!--
<div class="row">
<div class="col-md-2"><mat-form-field>
<mat-select placeholder="Upsell">
<mat-option value="">1st Quarter</mat-option>	
<mat-option value="">2nd Quarter</mat-option>
<mat-option value="">3rd Quarter</mat-option>
<mat-option value="">4th Quarter</mat-option>
</mat-select>	</mat-form-field></div>
</div>
-->
<div class="row">	
<div class="col-md-6"><mat-form-field class="example-full-width"><textarea matInput placeholder="Description of the CR - Only Financial CR's 
(Don’t include Non financial CR's ex Process CR)"></textarea></mat-form-field></div>
<div class="col-md-4">&nbsp;</div>
<div class="col-md-2" style="text-align: right;"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> ADD new contract </button></div>	
</div>

	
	
	

				
<div class="row"><div class="col-md-3"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Save </button></div></div> 
</div>
			</div>		 
		  </div>          
      </div>
  </div>
</div>

<!--==============  Contractual confirguration   ============== -->

<!--==============  Deal Matrix     ============== -->
<!--

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">

	     <div class="card">
				  
					  <div class="card-header card-header-danger customIconBg">
					  <div class="dealPerfrom">
					  <h3 class="card-title EmpHeadColor" >Deal Matrix</h3></div>
						
					 </div>

<div class="card-body custopfrom">
	
<div class="row" style=" padding:5px 0 50px;">
<div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>	
<div class="col-lg-1 col-md-1 col-sm-1"><mat-form-field>
<mat-select placeholder="Week">
 <mat-option value="">1 </mat-option>
 <mat-option value="">2 </mat-option>
 <mat-option value="">3 </mat-option>
 <mat-option value="">4 </mat-option>	
 </mat-select>
</mat-form-field>

	
	</div>	
<div class="col-lg-1 col-md-1 col-sm-1"><mat-form-field>
<mat-select placeholder="Months">
 <mat-option value="">January</mat-option>
 <mat-option value="">February</mat-option>
 <mat-option value="">March</mat-option>
 <mat-option value="">April</mat-option>
 <mat-option value="">May</mat-option>
 <mat-option value="">June</mat-option>
 <mat-option value="">July</mat-option>
 <mat-option value="">August</mat-option>
 <mat-option value="">September</mat-option>
 <mat-option value="">October</mat-option>
 <mat-option value="">November</mat-option>
 <mat-option value="">December</mat-option>
 </mat-select>
</mat-form-field>

	
	</div>
<div class="col-lg-1 col-md-1 col-sm-1">
<mat-form-field>
<mat-select placeholder="Financial year">
 <mat-option value="">2019</mat-option>
 <mat-option value="">2018</mat-option>
 <mat-option value="">2017</mat-option>
 <mat-option value="">2016</mat-option>
 <mat-option value="">2015</mat-option>
 <mat-option value="">2014</mat-option>
    </mat-select></mat-form-field>
	</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<div class="user-area dropdown">			
<input type="file" class="custom-file-input" id="customFileLang" style="display: none;">
<label class="btn ~btn-success" for="customFileLang">Upload</label>				
</div>
	</div>
<div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>	
</div> 		
	
 
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Contractual SLA" class="DealMatrixcolor">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>
</mat-select>	
</mat-form-field>
<mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	
</div>	
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Internal SLAs, (TAT, Prod, Accuracy)">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field></div>	
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Attrition">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field></div>		
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Client Escalations">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field></div>	
</div>	
<div class="row">	
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Volumes/Backlog">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>	
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="OM Assessment - Not Stable">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>	
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>	
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="C-SAT">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>	
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>	
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Finances">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>	
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
</div>
	
<div class="row">
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="3*3">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>	
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Delivery Content">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>	
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>	
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Delivery Campaign">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
<div class="col-md-3"><mat-form-field class="example-full-width">
<mat-select placeholder="Delivery Other">
<mat-option value="" class="green">Green</mat-option>
<mat-option value="" class="amber">Amber</mat-option>
<mat-option value="" class="red">Red</mat-option>	
<mat-option value="">NA</mat-option>	
</mat-select>	
</mat-form-field><mat-form-field class="example-full-width"><textarea disabled=""  matInput placeholder="Action Plan"></textarea></mat-form-field>	</div>		
</div>
<div class="row">
<div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="Weekly Updates Content"></textarea></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="Global MOR Content "></textarea></mat-form-field></div>
<div class="col-md-4"><mat-form-field class="example-full-width"><textarea matInput placeholder="New MOR Content"></textarea></mat-form-field></div>
</div>	
	

				
<div class="row"><div class="col-lg-3 col-md-3 col-sm-3"><button class="mat-raised-button mat-button-base mat-primary" mat-button style=" margin-top: 15px; padding: 2px 15px; color: #000; background-color:#ffd060;"><i class="material-icons">touch_app</i> Submit </button></div></div> 
</div>
		


		 
			 </div>		
           
	    </div>          
      </div>
  </div>
</div>  

-->
<!--==============  Deal Matrix     ============== -->
